<%= form_for @genre do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<%= f.submit "Add Genre", class: "btn btn-primary" %>
<% end %>