<div class="container mt-5">
    <h1>Video Game Genres</h1>
    <%= link_to "New Genre", new_genre_path, class: "btn btn-success mb-3" %>
	
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
   	        <%= render @genres %>
        </tbody>
    </table>
</div>