<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-3">
				<div class="card-body">
					<h1><%= @genre.name %></h1>
					<%= link_to "Edit", edit_genre_path(@genre), class: "btn btn-secondary" %>
				</div>					
			</div>
		</div>
	</div>

	<%= render partial: 'pinterest/video_game_grid', locals: {video_games: @video_games} %>
</div>
