<div class="my-3">
	<%= form_for question do |f| %>
  		<div class="form-group">	
			<%= f.text_area :question, placeholder: "Ask anything about the game", class: "form-control"  %>
		</div>
		<%= f.hidden_field :questionable_type, value: object.class.name %>
		<%= f.hidden_field :questionable_id, value: object.id %>	

		<%= f.submit "Ask Question", class: "btn btn-success" %>

	<% end %>
</div>