<div class="card question-block mb-3">
	<div class="card-body">
		<h4 class="card-title"><%= link_to question.question, question %></h4>
		<% if answer = question.answers.first %>
			<div class="answer">
				<div class="answerer">
					<%= image_tag answer.user.avatar, size: "25" %>
					<%= link_to answer.user.username, answer.user %><br>
					<small class="text-muted"><%= "answered #{time_ago_in_words(answer.created_at)} ago" %></small>
				</div>
				<%= answer.answer %>
			</div>
		<% end %>
	</div>
</div>