<div class="q-and-a">
	<h4>Gamer Q & A</h4>
	<p>Ask the GamersParadise community a question about <%= object.name %></p>
	
	<% if user_signed_in? %>
		<%= render partial: "questions/form", locals: {object: object, question: Question.new} %>
	<% end %>
	
	<% if object.questions.any? %>
		<h5>Popular Questions</h5>
	
		<div id="community-questions-and-answers">
			<%= render object.questions.left_joins(:answers).group(:id).order('COUNT(answers.id) DESC').limit(2) %>
		</div>

		<%= link_to "See all #{object.questions.size} questions about #{object.name}.", questions_path(questionable_id: object.id, questionable_type: object.class.name) %>
	<% end %>
</div>
