<% object.each do |question| %>
	<div class="card">
		<div class="card-body">
			<%= link_to question.question, question %>
		</div>
		<div class="card-footer text-muted">
			<ul class="list-inline">
				<li class="list-inline-item"><%= pluralize(question.likes.count, 'like') %></li>
				<li class="list-inline-item"><%= render partial: "likes/button", locals: {likeable: question} %></li>
				<li class="list-inline-item"><%= time_ago_in_words question.created_at %></li>
				<li class="list-inline-item"><%= link_to "See all #{pluralize(question.answers.count, 'answer')}", question %></li>
			</ul>
		</div>
	</div>
<% end %>