<div class="container mt-5">
	<%= render partial: "form", locals: {object: @question.questionable, question: @question} %>
	<%= link_to "Delete Question", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mt-5" %>

</div>