<div class="container">
	<div class="q-and-a">
		Questions About <%= link_to @questionable.name, @questionable %>
		<%= "by #{@questionable.main_developers.first.name}" unless @questionable.main_developers.empty? %>
		<%= render partial: "form", locals: {object: @questionable, question: Question.new} %>
		
		<% if @questions.answered.any? %>
			ANSWERED QUESTIONS (<%= @questions.answered.size %>)
			<%= render @questions.answered %>		
		<% end %>
		
		<% if @questions.unanswered.any? %>
			UNANSWERED QUESTIONS (<%= @questions.unanswered.size %>)
			<%= render @questions.unanswered %>		
		<% end %>
	</div>
</div>
