<div class="container">
	<div class="row question-info">
		<div class="col-lg-3">
			<div class="box-art">
				<%= image_tag @question.questionable.box_art, class: "img-fluid" %>
			</div>	
		</div>
		<div class="col-lg-9">
			<h1 class="communityQuestionText"><%= @question.question %></h1>
			<div class="question-details">
				<span>This question is about: <%= link_to @question.questionable.name, @question.questionable %></span><br>
				<span>By: <%= link_to @question.user.username, @question.user %></span>
				<%= render partial: "likes/button", locals: {likeable: @question} %>
				<% if user_signed_in? && @question.user == current_user %>
					<%= link_to "Edit", edit_question_path(@question), class: "btn btn-secondary" %>
				<% end %>
			</div>
		</div>
	</div>


	<%= render partial: "answers/form", locals: {question: @question, answer: Answer.new} %>
	<div class="community-answers">
		<%= render @question.answers.left_joins(:likes).group(:id).order('COUNT(likes.id) DESC').order(created_at: :desc) %>		
	</div>
</div>