<%= form_for @list do |f| %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control" %>
	</div>

	<%= f.submit "Submit List", class: "btn btn-primary" %>

<% end %>	
