<div class="video-game-list mb-3">
	<h4>
		<%= link_to list.name, list %>
		<div class="d-inline-block ml-2"><%= render partial: "likes/button", locals: {likeable: list} %></div>
	</h4>
	<div class="box-art-collection">
		<%= render partial: "video_games/video_game_carousel", locals: {video_games: list.video_games.limit(10)} %>	
	</div>
</div>
<hr>