<% index = list_video_game_counter + 1 %>
<% video_game = list_video_game.video_game %>
<div class="card mb-3">
	<div class="card-header">
		<h5><%= index %>. <%= video_game.name %></h5>
	</div>		
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-lg-6">
				<% if video_game.box_art %>	
					<%= link_to video_game do %><%= image_tag video_game.box_art, class: "img-fluid" %><% end %>
				<% end %>
			</div>
			<div class="col-12 col-lg-6">
				<div class="my-3">
					<%= render partial: "votes/button", locals: {likeable: list_video_game }	%>	
				</div>	
				<p class="mb-0">Avg. Rating: <span class="average-rating"><%= video_game.average_rating %></span>%</p>
				Votes: <span class="votes-count" ><%= "#{list_video_game.likes.size}" %></span>
						
				<% if user_signed_in? %>
					<div class="shelf-actions clearfix" role="group">
						<div class="btn-group">
							<% shelved_game = current_user.preexsiting_shelved_game(video_game) %>
							<% shelves = current_user.shelves %>
							<% if shelved_game %>
								<%= link_to shelved_game_path(shelved_game), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-secondary" do %>
									<%= fa_icon "check" %> <%= " #{shelved_game.shelf.name}" %>
								<% end %>
								<% shelves = shelves.where.not(id: shelved_game.shelf.id) %>
							<% else %>
								<%= link_to shelves.first.name, shelved_games_path(:shelf_id => shelves.first.id, video_game_id: video_game.id), method: :post, class: "btn btn-primary"  %>
								<% shelves = shelves.where.not(id: shelves.first.id) %>		
							<% end %>

							<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu">
								<% shelves.each do |shelf| %>
									<% if shelf.video_games.include?(video_game) %>
										<%= link_to shelved_game_path(shelf.find_shelved_game(video_game)), method: :delete, data: { confirm: "Are you sure?"}, class: "dropdown-item" do %>
											<%= fa_icon "check" %> <%= shelf.name %>
										<% end %>
									<% else %>
										<%= link_to shelf.name, shelved_games_path(:shelf_id => shelf.id, video_game_id: video_game.id), method: :post, class: "dropdown-item"   %>
									<% end %>
								<% end %>
					  		</div>
					</div>					
				</div>	
			<% end %>
			<div class="my-3">
				<%= render "ratings/form", rateable: video_game %>	
			</div>							
			</div>		
		</div>				
	</div>
</div>