<div class="container mt-5">
	<div class="row">
		<h1>Video Game Lists</h1>
		<div class="col-lg-10 order-2 order-md-1">
			<%= render @lists %>
		</div>
		<div class="col-lg-2 order-1 order-md-2 mb-3">
			<% if user_signed_in? %>
				<ul class="list-group">
					<%= link_to "All Lists", lists_path, class: "list-group-item #{"active" if !params[:i_created] && !params[:i_voted] && !params[:i_liked]}" %>		
						<%= link_to "Lists I Created", lists_path(i_created: true), class: "list-group-item #{"active" if params[:i_created]}" %>	
						<%= link_to "Lists I've Voted On", lists_path(i_voted: true), class: "list-group-item #{"active" if params[:i_voted]}" %>	
						<%= link_to "Lists I've Liked", lists_path(i_liked: true), class: "list-group-item #{ "active" if params[:i_liked]}" %>
				</ul>	
			<% end %>	

			<%= link_to "New List", new_list_path, class: "btn btn-success mt-3 btn-block" %>

		</div>
	</div>
</div>