<div class="container mt-5">
	<div class="list-info">
		<h1>
			<%= @list.name %>
			<% if user_signed_in? && current_user == @list.user %>
				<%= link_to "Edit", edit_list_path(@list), class: "btn btn-secondary" %>
			<% end %>
			<div class="d-inline-block ml-2">
				<%= render partial: "likes/button", locals: {likeable: @list} %>
			</div>
		</h1>
		<p><%= @list.description %></p>
	</div>
	<div class="stats mb-3 text-muted">
		<p><%= @list.list_video_games.count %> games · <%= @list.list_video_games.collect{|list_video_game| list_video_game.likes}.flatten.count %> voters · list created <%= @list.created_at %> by <%= link_to @list.user.username, @list.user %>.</p>
	</div>
	<div class="row">
		<div class="col-lg-8 order-2 order-md-1">
			<div class="list-video-games-container">
				<%= render partial: "list_video_game", collection: @list.list_video_games.left_joins(:likes).group(:id).order('COUNT(likes.id) DESC') %>								
			</div>
		</div>
		<div class="col-lg-4 order-1 order-md-2">
			<%= render partial: "list_video_games/form" %>
		</div>		
	</div>
	
</div>