<% previous_page = URI(request.referrer).query ? CGI::parse(URI(request.referrer).query)['page'][0].to_i : 0 %>
<% current_page = URI(request.url).query ? CGI::parse(URI(request.url).query)['page'][0].to_i : 0 %>
<% if previous_page > current_page %>
	// Moving Backwards
	$("<%=j render @posts %>").hide().prependTo($(".col-lg-10.offset-1")).fadeIn('slow');
	<% if @posts.first_page? %>
		$('.pagination.previous').html("That's all, folks!");
	<% else %>
		$('.pagination.previous').html("<%=j link_to_previous_page(@posts, 'Previous Page', :remote => true) %>");
	<% end %>
<% else %>
	// Moving Forwards
	$("<%=j render @posts %>").hide().appendTo($(".col-lg-10.offset-1")).fadeIn('slow');
	<% if @posts.last_page? %>
		$('.pagination.next').html("That's all, folks!");
	<% else %>
		$('.pagination.next').html("<%=j link_to_next_page(@posts, 'Next Page', :remote => true) %>");
	<% end %>
<% end %>
