<div class="container">
	
	<div class="row">
		<div class="col-lg-8 offset-lg-2" id="posts-container">
			<%= render @posts %>
		</div>
	</div>
	<nav id="page-nav">
		<%= link_to_next_page(@posts, 'Next Page', :remote => true) %>
	</nav>

	<div class="page-load-status text-center" id="feed-load-status">
		<div class="loader-ellips">
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
		</div>
		<span class="infinite-scroll-request">
			Loading...  		
		</span>	
		<span class="infinite-scroll-last">
			No more pages to load.
		</span>		
	</div>

</div>