<li class="list-group-item">
	<%= link_to edit_admin_blog_category_path(blog_category) do %>
		<%= blog_category.name %>
		<span class="badge badge-primary badge-pill"><%= blog_category.blog_posts.count %></span>
	<% end %>
</li>