<div class="container mt-5">
  <h1>Video Game Engines</h1>
  <%= link_to "New Game Engine", new_game_engine_path, class: "btn btn-success mb-4" %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render @game_engines %>
    </tbody>
  </table>
</div>