<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>Gamers Paradise</h1>
    <p>Discover, Track, Connect</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="text-center">Discover</h3>
      <p class="text-center">
<!--         Discover what to play next.

        You’re in the right place. Tell us what games or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.

        What are your friends playing?

        Chances are your friends are discussing their favorite (and least favorite) games on gameswap. -->
      </p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Swap</h3>
<!--       <p class="text-center">Connect with other gamers and share collections to maximize your gaming potential        </p> -->
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Repeat</h3>
<!--       <p class="text-center">Having trouble deciding what to play next? Keep track of games you've wanted to play in the best and review and keep track of what's next. Don't let you backlog win</p> -->
    </div>
  </div>
</div>

