<!-- Social Button HTML -->

<!-- Twitter -->
<a href="http://twitter.com/share?url=<%= CGI.escape(url) %>>&text=<%= CGI.escape(description) %>&via=<%= CGI.escape(via) %>" target="_blank" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
</a>

<!-- Google Plus -->
<a href="https://plus.google.com/share?url=<%= CGI.escape(url) %>" target="_blank" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
</a>

<!-- Facebook -->
<a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI.escape(url) %>" target="_blank" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
</a>

<!-- Reddit (url, title) -->
<a href="http://reddit.com/submit?url=<%= CGI.escape(url) %>&title=<%= CGI.escape(title) %>" target="_blank" class="share-btn reddit">
    <i class="fa fa-reddit"></i>
</a>

<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?url=<%= CGI.escape(url) %>&title=<%= CGI.escape(title) %>&summary=<%= CGI.escape(description) %>&source=<%= CGI.escape(root_url) %>" target="_blank" class="share-btn linkedin">
    <i class="fa fa-linkedin"></i>
</a>

<!-- Email -->
<a href="mailto:?subject=<%= title %>&body=<%= description %>" target="_blank" class="share-btn email">
    <i class="fa fa-envelope"></i>
</a>