<div class='nested-fields'>
	<div class="form-group">
		<%= f.label :company %>
		<%= f.collection_select :company_id, Company.published, :id, :name, {include_blank: true}, class: "select2" %>
	</div>

	<div class="form-group">
		<%= f.label "What type?" %>
		<%= f.select :type_ofs,  CompaniesVideoGame.type_ofs.keys.map { |type_of| [type_of.humanize, type_of] }, {}, {class: "select2", multiple: true} %> 

	</div>
    <%= link_to_remove_association "remove company", f %>
  </div>