<div class="container-fluid">
	
	<div class="row video-game-main">
		<div class="col-lg-3">
			<%= image_tag object.box_art, class: "box-art" %>
		</div>
		<div class="col-lg-6">
			<h1><%= object.name %> <%= link_to "Edit", edit_video_game_path(object), class: "btn" %></h1>
			<h2><%= link_to object.parent_video_games.first.name, object.parent_video_games.first if object.parent_video_games.first %></h2>
			<div>
				<h5>Description</h5>
				<%= object.description %>
			</div>
			<div>
				<h5>Story</h5>
				<%= object.story.html_safe if object.story %>
			</div>			

			<!-- Links -->
			<div class="row game-links">
				<% unless object.official_website.blank? %>
					<%= link_to object.official_website, class: "col-lg-4" do %>
						<%= fa_icon "globe" %> Official Website
					<% end %>
				<% end %>

				<% unless object.wikia_page.blank? %>
					<%= link_to object.wikia_page, class: "col-lg-4"  do %>
						<%= fa_icon "globe" %> Wikia Page
					<% end %>
				<% end %>

				<% unless object.wikipedia_page.blank? %>
					<%= link_to object.wikipedia_page, class: "col-lg-4"  do %>
						<%= fa_icon "wikipedia-w" %> Wikipedia Page
					<% end %>			
				<% end %>
					
				<% unless object.facebook_page.blank? %>
					<%= link_to object.facebook_page, class: "col-lg-4"  do %>
						<%= fa_icon "facebook" %> Facebook Page
					<% end %>	
				<% end %>
				<% unless object.twitter_profile.blank? %>
					<%= link_to object.twitter_profile, class: "col-lg-4"  do %>
						<%= fa_icon "twitter" %> Twitter Profile
					<% end %>	
				<% end %>
				<% unless object.twitch_channel.blank? %>
					<%= link_to object.twitch_channel, class: "col-lg-4"  do %>
						<%= fa_icon "twitch" %> Twitch Channel
					<% end %>	
				<% end %>
				<% unless object.instagram_profile.blank? %>
					<%= link_to object.instagram_profile, class: "col-lg-4"  do %>
						<%= fa_icon "instagram" %> Instagram Profile
					<% end %>	
				<% end %>
				<% unless object.youtube_channel.blank? %>
					<%= link_to object.youtube_channel, class: "col-lg-4"  do %>
						<%= fa_icon "youtube" %> Youtube Channel
					<% end %>	
				<% end %>
				<% unless object.itunes_page_iphone.blank? %>
					<%= link_to object.itunes_page_iphone, class: "col-lg-4"  do %>
						<%= fa_icon "itunes" %> Itunes Page Iphone
					<% end %>	
				<% end %>
				<% unless object.itunes_page_ipad.blank? %>
					<%= link_to object.itunes_page_ipad, class: "col-lg-4"  do %>
						<%= fa_icon "itunes" %> Itunes Page Ipad
					<% end %>	
				<% end %>
				<% unless object.google_play_store_page.blank? %>
					<%= link_to object.google_play_store_page, class: "col-lg-4"  do %>
						<%= fa_icon "google-play" %> Google Play Store Page
					<% end %>	
				<% end %>
				<% unless object.steam_store_page.blank? %>
					<%= link_to object.steam_store_page, class: "col-lg-4"  do %>
						<%= fa_icon "steam" %> Steam Store Page
					<% end %>	
				<% end %>
				<% unless object.subreddit_page.blank? %>
					<%= link_to object.subreddit_page, class: "col-lg-4"  do %>
						<%= fa_icon "reddit" %> Subreddit Page
					<% end %>	
				<% end %>


			</div>


			<!-- End Links -->
			<h4>Genres</h4>
			<% object.genres.each do |genre| %>
			<%= link_to genre.name, genre %>
			<% end %>
		

			<h4>Multiplayer Modes</h4>
			<% object.multiplayer_modes.each do |multiplayer_mode| %>
				<p><%= multiplayer_mode.platform.name %></p>
				<p><%= multiplayer_mode.online_co_op_max_players %></p>
				<p><%= multiplayer_mode.offline_co_op_max_players %></p>
				<p><%= multiplayer_mode.online_max_players %></p>
				<p><%= multiplayer_mode.offline_max_players %></p>
				<p><%= multiplayer_mode.is_online_co_op %></p>
				<p><%= multiplayer_mode.is_offline_co_op %></p>
				<p><%= multiplayer_mode.is_lan_co_op %></p>
				<p><%= multiplayer_mode.is_co_op_campaign %></p>
				<p><%= multiplayer_mode.is_online_split_screen %></p>
				<p><%= multiplayer_mode.is_offline_split_screen %></p>
				<p><%= multiplayer_mode.is_drop_in_drop_out %></p>

			<% end %>

			<h4>Release Dates</h4>
			<% object.release_dates.each do |release_date| %>
				<p><%= release_date.platform.name %></p>
				<p><%= release_date.region %></p>
				<p><%= release_date.date %></p>
			<% end %>
		</div>
		<div class="col-lg-3">
			<h4>Game Modes</h4>
			<% object.game_modes.each do |game_mode| %>
			<%= link_to game_mode.name, game_mode %>
			<% end %>

			<h4>Player Perspectives</h4>
			<% object.player_perspectives.each do |player_perspective| %>
			<%= link_to player_perspective.name, player_perspective %>
			<% end %>

			<h4>Companies</h4>
			<% object.companies.each do |company| %>
			<%= link_to company.name, company %>
			<% end %>
			<h4>Type</h4>
			<%= object.type_of.titleize if object.type_of %>
		</div>

	</div>



	<div class="row media">
		<div id="gameMedia" class="carousel slide" data-ride="carousel" data-interval="false">
	  	<!-- Indicators -->
	  		<ol class="carousel-indicators">
	  			<% (object.videos.length + object.screenshots.length).times do |index| %>
	    			<li data-target="#myCarousel" data-slide-to="0" <%= "class=\"active\"" if 0 == index %></li>
	    		<% end %>
	  		</ol>

	  		<!-- Wrapper for slides -->
	  		<div class="carousel-inner">
	  			<% object.videos.each_with_index do |video,index| %>
	  				<div class="item <%= "active" if 0 == index %>">
						<iframe id="ytplayer" type="text/html" width="640" height="360"
		  					src="https://www.youtube.com/embed/<%= get_youtube_id(video.video) %>?showinfo=0&autoplay=0&modestbranding=1"
		  					frameborder="0"></iframe>
		    		</div>
		    		<% object.screenshots.each do |screenshot| %>
		    		<div class="item">
						<%= image_tag screenshot.screenshot %>
					</div>
					<% end %>
				<% end %>

	  		</div>

	  		<!-- Left and right controls -->
	  		<a class="left carousel-control" href="#gameMedia" data-slide="prev">
	    		<span class="glyphicon glyphicon-chevron-left"></span>
	    		<span class="sr-only">Previous</span>
	  		</a>
	  		<a class="right carousel-control" href="#gameMedia" data-slide="next">
	    		<span class="glyphicon glyphicon-chevron-right"></span>
	    		<span class="sr-only">Next</span>
	  		</a>
		</div>
	</div>
</div>