
<div id="video-games-filter" class="mt-3">
  <div class="card">
    <div class="card-header" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      <h5 class="mb-0">
        <button class="btn btn-link">
          Filters
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#video-games-filter">
      <div class="card-body">
        <%= form_tag(video_games_path, method: :get, remote: true, 'data-type' => :json) do %>
          <div class="form-row">
            <div class="col">
              <div id="platforms" role="tabpanel" aria-labelledby="home-tab">
                <%= label_tag :platforms %>
                <%= select_tag(:platform_ids, options_from_collection_for_select(Platform.published, "id", "name", params[:platform_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>
              </div>
            </div>
            <div class="col">
              <div id="franchises" role="tabpanel" aria-labelledby="home-tab">
                <%= label_tag :franchises %>    
                <%= select_tag(:franchise_ids, options_from_collection_for_select(Franchise.published, "id", "name", params[:franchise_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>
              </div>              
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div id="series" role="tabpanel" aria-labelledby="home-tab">
                <%= label_tag :series %>
                <%= select_tag(:series_ids, options_from_collection_for_select(Series.published, "id", "name", params[:series_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>    
              </div>
            </div>
            <div class="col">
              <div id="types" role="tabpanel" aria-labelledby="contact-tab">
                <%= label_tag :type %>
                <%= select_tag(:type_ids, options_for_select(VideoGame.type_ofs.map {|k,v| [k.split('_').map(&:capitalize).join(' '),v]}, params[:type_ids]), class: "select2", multiple: true) %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div id="statuses" role="tabpanel" aria-labelledby="contact-tab">
                <%= label_tag :status %>
                <%= select_tag(:status_ids, options_for_select(VideoGame.statuses.map {|k,v| [k.split('_').map(&:capitalize).join(' '),v]}, params[:status_ids]), class: "select2",  multiple: true) %>
              </div>
            </div>

            <div class="col">
              <div id="genres" role="tabpanel" aria-labelledby="contact-tab">
                <%= label_tag :genres %>    
                <%= select_tag(:genre_ids, options_from_collection_for_select(Genre.published, "id", "name", params[:genre_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div  id="game-modes" role="tabpanel" aria-labelledby="contact-tab">
                <%= label_tag :game_modes, "Game Modes" %>    
                <%= select_tag(:game_mode_ids, options_from_collection_for_select(GameMode.published, "id", "name", params[:game_mode_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>
              </div>
            </div>
            <div class="col">
              <div id="player-perspectives" role="tabpanel" aria-labelledby="contact-tab">
                <%= label_tag :player_perspectives, "Player Perspectives" %>    
                <%= select_tag(:player_perspective_ids, options_from_collection_for_select(PlayerPerspective.published, "id", "name", params[:player_perspective_ids]), :prompt => 'Select', class: "select2",  multiple: true) %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


