  <%= form_for @video_game do |form| %>
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general">General</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#categorization">Categorization</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#release-dates">Release Dates</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#companies">Companies</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#websites">Websites</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#videos">Videos</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#screenshots">Screenshots</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#story">Story</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#engine">Engine</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#age-rating">Age Rating</a></li>
  </ul>

  <div class="tab-content clearfix">
    <div id="general" class="tab-pane active">
      <div class="col-lg-8">
        <div class="form-group">  
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :type_of %>
          <%= form.select :type_of,  VideoGame.type_ofs.keys.map { |type_of| [type_of.humanize, type_of] }, {}, {class: "select2"} %> 
        </div>

        <div class="form-group">
          <%= form.collection_select :child_video_game_ids, @video_game.child_video_games, :id, :name, {}, {multiple: true} %>
        </div>

        <div class="form-group">
          <%= form.collection_select :parent_video_game_ids, @video_game.parent_video_games, :id, :name, {}, {multiple: true} %>
        </div>        


        <div class="form-group">
          <%= form.label :status %>
          <%= form.select :status,  VideoGame.statuses.keys.map { |status| [status.humanize, status] }, {}, {class: "select2"} %> 
        </div>  
      </div>

      <div class="col-lg-4">
        <%= image_tag form.object.box_art, class: "box-art" %>
        <div class="form-group">  
          <%= form.label :box_art %>
          <%= form.file_field :box_art, class: "form-control" %>
        </div>
      </div>
    </div>


    <div id="categorization" class="tab-pane fade">
      <div class="form-group">
        <%= form.label :genres %>
        <%= form.collection_select :genre_ids, Genre.published, :id, :name, { }, {class: "select2", multiple: true} %>
      </div>
      <div class="form-group">
        <%= form.label :player_perspectives %>
        <%= form.collection_select :player_perspective_ids, PlayerPerspective.published, :id, :name, { }, {class: "select2", multiple: true}%>
      </div>
      <div class="form-group">
        <%= form.label :game_modes %>
        <%= form.collection_select :game_mode_ids, GameMode.published, :id, :name, {}, { class: "select2", multiple: true} %>
      </div>

      <div class="form-group">
        <%= form.label :series %>
        <%= form.collection_select :series_ids, Series.published, :id, :name, {}, { class: "select2", multiple: true} %>
      </div>

      <div class="form-group">
        <%= form.label :franchises %>
        <%= form.collection_select :franchise_ids, Franchise.published, :id, :name, {}, { class: "select2", multiple: true} %>

      </div>

      <h3>Multiplayer Modes</h3>
      <div id='multiplayer_modes'>
        <%= form.fields_for :multiplayer_modes do |multiplayer_mode| %>
        <%= render 'multiplayer_mode_fields', :f => multiplayer_mode %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Multiplayer Mode', form, :multiplayer_modes %>
        </div>
      </div>

    </div>
    <div id="release-dates" class="tab-pane fade">
      <h3>Release Dates</h3>
      <div id='release_dates'>
        <%= form.fields_for :release_dates do |release_date| %>
        <%= render 'release_date_fields', :f => release_date %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Release Date', form, :release_dates %>
        </div>
      </div>

    </div>
    <div id="companies" class="tab-pane fade">
      <h3>Companies</h3>
      <div id='companies'>
        <%= form.fields_for :companies_video_games do |companies_video_game| %>
        <%= render 'companies_video_game_fields', :f => companies_video_game %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Company', form, :companies_video_games %>
        </div>
      </div>





    </div>
    <div id="websites" class="tab-pane fade">

      <div class="form-group">
        <%= form.label :official_website %>
        <%= form.text_field :official_website, class: "form-control" %>
      </div>  

      <div class="form-group">
        <%= form.label :wikia_page %>
        <%= form.text_field :wikia_page, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :wikipedia_page %>
        <%= form.text_field :wikipedia_page, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :facebook_page %>
        <%= form.text_field :facebook_page, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :twitter_profile %>
        <%= form.text_field :twitter_profile, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :twitch_channel %>
        <%= form.text_field :twitch_channel, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :instagram_profile %>
        <%= form.text_field :instagram_profile, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :youtube_channel %>
        <%= form.text_field :youtube_channel, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :itunes_page_iphone %>
        <%= form.text_field :itunes_page_iphone, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :itunes_page_ipad %>
        <%= form.text_field :itunes_page_ipad, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :google_play_store_page %>
        <%= form.text_field :google_play_store_page, class: "form-control" %>
      </div>  
      <div class="form-group">
        <%= form.label :steam_store_page %>
        <%= form.text_field :steam_store_page, class: "form-control" %>
      </div>  

      <div class="form-group">
        <%= form.label :subreddit_page %>
        <%= form.text_field :subreddit_page, class: "form-control" %>
      </div>  

    </div>

    <div id="videos" class="tab-pane fade">
      <h3>Videos</h3>
      <p>We only work with youtube at the moment. Please insert the entire youtube url. eg: https://www.youtube.com/watch?v=mrmsez_hAlI</p>
      <div id='videos'>
        <%= form.fields_for :videos do |video| %>
        <%= render 'video_fields', :f => video %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Video', form, :videos %>
        </div>
      </div>
    </div>
    <div id="screenshots" class="tab-pane fade">
      <h3>Screenshots</h3>
      <div id='screenshots'>
        <%= form.fields_for :screenshots do |screenshot| %>
        <%= render 'screenshot_fields', :f => screenshot %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Screenshots', form, :screenshots %>
        </div>
      </div>    
    </div>
    <div id="story" class="tab-pane fade">
      <%= form.label :story %>
      <%= form.text_area :story, class: "tinymce"  %>
      <%= tinymce %>
    </div>
    <div id="engine" class="tab-pane fade">
     <div class="form-group">
        <%= form.label :game_engines %>
        <%= form.collection_select :game_engine_ids, GameEngine.published, :id, :name, {}, { class: "select2", multiple: true} %>
      </div>      
    </div>
    <div id="age-rating" class="tab-pane fade">
      
      <div class="form-group">
        <%= form.label :esrb_rating %>
        <%= form.select :esrb_rating, VideoGame.esrb_ratings.keys.prepend("").map { |w| [w.humanize, w ]},  {}, { class: "select2"} %>
      </div>   

      <div class="form-group">
        <%= form.label :esrb_themes %>
        <%= form.select :esrb_themes, VideoGame.esrb_themes.keys.map { |w| [w.humanize, w] }, {}, { class: "select2", multiple: true} %>
      </div>       

      <div class="form-group">
        <%= form.label :esrb_synopsis %>
        <%= form.text_area :esrb_synopsis %>
      </div>   

      <div class="form-group">
        <%= form.label :pegi_rating %>
        <%= form.select :pegi_rating, VideoGame.pegi_ratings.keys.prepend("").map { |w| [w.humanize, w] }, {}, { class: "select2"} %>
      </div>   

      <div class="form-group">
        <%= form.label :pegi_themes %>
        <%= form.select :pegi_themes, VideoGame.pegi_themes.keys.map { |w| [w.humanize, w] },  {}, { class: "select2", multiple: true} %>
      </div>       

      <div class="form-group">
        <%= form.label :pegi_synopsis %>
        <%= form.text_area :pegi_synopsis %>
      </div>  

    </div>

  </div>

  <%= form.submit "Submit Change", class: "btn btn-primary" %>
  <%= link_to "Suggest Delete", video_game_path(@video_game), method: :delete, class: "btn btn-danger" if @video_game.id%>
</div>
<% end %>
