<div class='nested-fields'>
	<div class="form-group">
		<%= f.label :Platform %>
		<%= f.collection_select :platform_id, Platform.published, :id, :name, {include_blank: true}, class: "select2" %>
	</div>

	<div class="form-group">
		<%= f.label :online_co_op_max_players %>
		<%= f.number_field :online_co_op_max_players, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :offline_co_op_max_players %>
		<%= f.number_field :offline_co_op_max_players, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :online_max_players %>
		<%= f.number_field :online_max_players, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :offline_max_players %>
		<%= f.number_field :offline_max_players, class: "form-control" %>
	</div>

	<div class="form-group">	
		<%= f.label :online_co_op %>
		<%= f.check_box :is_online_co_op, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :offline_co_op %>
		<%= f.check_box :is_offline_co_op, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :lan_co_op %>
		<%= f.check_box :is_lan_co_op, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :co_op_campaign %>
		<%= f.check_box :is_co_op_campaign, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :online_split_screen %>
		<%= f.check_box :is_online_split_screen, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :offline_split_screen %>
		<%= f.check_box :is_offline_split_screen, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :drop_in_drop_out %>
		<%= f.check_box :is_drop_in_drop_out, class: "form-control" %>
	</div>
    <%= link_to_remove_association "remove mode", f %>
  </div>