<div class='nested-fields'>
	<div class="form-group">
		<%= f.label :Platform %>
		<%= f.collection_select :platform_id, Platform.published, :id, :name, {include_blank: true}, class: "select2"   %>
	</div>

	<div class="form-group">
		<%= f.label "ASIN" %>
	    <%= f.text_field :asin, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label "UPC" %>
	    <%= f.text_field :upc, class: 'form-control' %>
	</div>	

	<div class="form-group">
		<%= f.label :Date %>
	    <%= f.date_field :date, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :region %>
  		<%= f.select :region, ["Worldwide [WW]", "Europe [EU]", "North America [NA]", "Australia [AU]", "New Zealand [NZ]", "Japan [JP]", "China [CH]", "Asia [AS]"], {include_blank: true}, class: "select2" %>
	</div>

    <%= link_to_remove_association "remove Release date", f %>
  </div>