<div class='nested-fields'>
	<div class="form-group">
		<%= image_tag f.object.screenshot %>
		<%= f.label :screenshot %>
		<%= f.file_field :screenshot %>
	</div>
    <%= link_to_remove_association "Remove Screenshot", f %>
</div>