<div class="video-games-carousel">
	<% video_games.each do |video_game| %>
		<%= link_to video_game, class: "card col-12 col-lg-2 col-md-3" do %>
			<%= image_tag video_game.box_art, class: 'img-fluid' %>
			<div class="caption">
				<%= video_game.name %>
			</div>
		<% end %>
	<% end %>
</div>