<div class='nested-fields'>
	<%= image_tag "http://i.ytimg.com/vi/#{get_youtube_id(f.object.video)}/maxresdefault.jpg" if f.object.video %>
	<div class="form-group">
		<%= f.label :video %>
		<%= f.text_field :video, class: "form-control", placeholder: "example: https://www.youtube.com/watch?v=mrmsez_hAlI" %>
	</div>
    <%= link_to_remove_association "Remove Video", f %>
</div>