<div class="masonry-brick mb-3" data-page="<%= request.original_url %>">
	<%= link_to video_game do %>
		<%= image_tag video_game.box_art.list, class: "card-img-top" %>
		<div class="card-body">
	    	<h6 class="card-title">
	    		<%= video_game.name %>    		
	    	</h6>
	    	<div class="card-text clearfix small text-secondary">
				<% if video_game.release_dates and video_game.release_dates.first and video_game.release_dates.first.date %>
					<span class="release-date">
						(<%= video_game.release_dates.first.date.year  %>)
					</span>
				<% end %>		    
				<% if video_game.average_rating > 0 %>		
					<span class="rating">
						<%= video_game.average_rating %>%
					</span>
				<% end %>
	    	</div>
		</div>
	<% end %>
</div>

