<div class="bs-example" data-example-id="striped-table"> 
	<table class="table table-striped"> 
		<thead> 
			<tr> 
				<th>Game ID</th> 
				<th>Game</th> 
				<th># of Drafts</th> 
				<th>Last Updated</th> 
				<th>Actions</th> 
			</tr> 
		</thead> 
		<tbody> 
			<%= render @drafts %>
		</tbody> 
	</table> 
</div>