<div class="container mt-5">
	<div class="explainer">
		<div class="row">
			<div class="col-lg-4 text-center discover">
				<%= fa_icon "binoculars" %>
				<h4>Discover</h4>
				<p>Gamer’s Paradise has a personalized recommendation engine so you don’t have to waste your valuable time and money on a game you will not enjoy. The more games you rate, the more personalized and accurate the algorithm becomes for you.</p>
			</div>
			<div class="col-lg-4 text-center connect">
				<%= fa_icon "users" %>
				<h4>Connect</h4>
				<p>Chances are your friends are discussing their favorite (and least favorite) games on Gamer's Paradise. Friend, Follow, Create groups to grow your personal and or professional gaming network.</p>
			</div>
			<div class="col-lg-4 text-center compete">
				<%= fa_icon "trophy" %>
				<h4>Compete</h4>
				<p>Earn Gamer’s Paradise Points (GPP) by uploading games. We have built an easy to use uploader to submit anything you see missing in our database. Crush the leaderboard and the competition by helping our community be the leading game database.</p>
			</div>		
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h4>Popular Games</h4>
			<%= render partial: 'video_game_carousel', locals: {video_games: @popular_games} %>
		</div>
	</div>
	<div class="recently-reviewed">
		<h4>Recently Viewed</h4>
		<% video_games = VideoGame.includes(:screenshots).where.not(screenshots: {id: nil}).limit(6) %>
		<div class="row">
			<% video_games.each_with_index do |video_game, index| %>
				<div class="col-lg-4">
					<%= link_to video_game, class: "video-game-screenshot" do %>		
						<%= image_tag video_game.screenshots.first.screenshot, class: "img-fluid" %>
						<span class="game-name">
							<%= video_game.name %>
						</span>
					<% end %>
				</div>	
			<% end %>
		</div>
	</div>

	<div class="videos">
		<% video_ids = Video.where(videoable_type: "VideoGame").limit(10).pluck(:video).map{|url| get_youtube_id(url)} %>
		<% first_id = video_ids.shift %>
		<div class="aspect-ratio">
			<iframe width="100%" height="405" src="https://www.youtube.com/embed/<%= first_id %>?playlist=<%= video_ids.join(",") %>&rel=0"frameborder="0" allowfullscreen>
			</iframe>
		</div>
	</div>

	<!--  -->
	<div class="lists mt-3">
		<h4>Popular Lists</h4>		
		<%= render @popular_lists %>
	</div>

</div>

