<div class="container mt-5">
	<h1>Video Games</h1>
	<div class="new-suggestion">
		<% if user_signed_in? %>
			<%= link_to "Add a Game", new_video_game_path, class: "btn btn-success" %>			
		<% end %>
	</div>
	<div class="mb-3">
		<%= render partial: "filter" %>
	</div>
	<div id="video-game-grid">
		<%= render partial: "pinterest/video_game_grid", locals: {video_games: @video_games} %>

		<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><%= fa_icon "chevron-up" %></a>
	</div>
</div>