<div data-video-game-id="<%= @video_game.id %>" id="video-game-id"></div>
<div class="container-fluid">
	<div class="row">
		<%= image_tag @video_game.screenshots.sample(1).first.screenshot, class: "video-game-banner"  unless @video_game.screenshots.empty? %>
	</div>
</div>

<div class="container">
	<div class="row video-game-main">
		<div class="col-lg-3">
			<%= image_tag @video_game.box_art, class: "box-art #{"banner-exists" unless @video_game.screenshots.empty? } mb-3 col-8 offset-2 col-lg-12 offset-lg-0", alt: "#{@video_game.name} Box Art" %>	

			<% if user_signed_in? %>
				<div class="favorite-action">
					<% if @video_game != current_user.favorite_game %>
						<%= link_to user_mark_as_favorite_path(current_user, @video_game), class: "btn btn-secondary btn-block", method: :post, data: { confirm: 'Are you sure? This will make this game your one and only favorite game.' } do %>
							Favorite <%= fa_icon "heart-o" %>
						<% end %>
					<% else %>
						<%= link_to user_unmark_as_favorite_path(current_user), class: "btn btn-warning btn-block", method: :post, data: { confirm: 'Are you sure? This will remove this game as your favorite game.' } do %>
							UnFavorite <%= fa_icon "heart" %>
						<% end %>
					<% end %>
				</div>
			<% end %>
			
			<%= render partial: "follows/follow", :locals => {:object => @video_game} %>		

			<% unless @video_game.listings.empty? %>
				<%= link_to "Get It Now", video_game_listings_path(@video_game), class: "btn btn-info" %> 
			<% end %>
			
			<% if user_signed_in? %>
				<div class="shelf-actions clearfix row my-4" role="group">
					<div class="col">	
						<% if current_user.played_games.include?(@video_game) %>
							<%= button_to shelved_game_path(current_user.played_shelf.shelved_games.find_by(video_game_id: @video_game.id)), method: :delete,  data: { confirm: "Are you sure?" }, class: "remove" do %>
								<%= fa_icon "check" %><br/>
								Played<br/>
								<%= @video_game.shelves.played.count %>
							<% end %>
						<% elsif current_user %>					
							<%= button_to shelved_games_path(:shelf_id => current_user.played_shelf.id, video_game_id: @video_game.id)  do %>
								<%= fa_icon "check" %><br/>
								Played<br/>
								<%= @video_game.shelves.played.count %>
							<% end %>				
						<% end %>
					</div>	
					<div class="col">
						<% if current_user.playing_games.include?(@video_game) %>
							<%= button_to shelved_game_path(current_user.playing_shelf.shelved_games.find_by(video_game_id: @video_game.id)),  method: :delete, data: { confirm: "Are you sure?" }, class: "remove"  do %>
								<%= fa_icon "gamepad" %><br/>
								Playing</br>
								<%= @video_game.shelves.playing.count %>
							<% end %>
						<% elsif current_user %>					
							<%= button_to shelved_games_path(:shelf_id => current_user.playing_shelf.id, video_game_id: @video_game.id)  do %>
								<%= fa_icon "gamepad" %><br/>
								Playing</br>
								<%= @video_game.shelves.playing.count %>
							<% end %>				
						<% end %>				
					</div>
					<div class="col">
						<% if current_user.planned_games.include?(@video_game) %>
							<%= button_to shelved_game_path(current_user.will_play_shelf.shelved_games.find_by(video_game_id: @video_game.id)), method: :delete, data: { confirm: "Are you sure?" }, class: "remove" do %>
								<%= fa_icon "calendar" %><br/>
								Will Play<br/>
								<%= @video_game.shelves.will_play.count %>
							<% end %>
						<% elsif current_user %>
							<%= button_to shelved_games_path(:shelf_id => current_user.will_play_shelf.id, video_game_id: @video_game.id) do %>
								<%= fa_icon "calendar" %><br/>
								Will Play<br/>
								<%= @video_game.shelves.will_play.count %>
							<% end %>
						<% end %>
					</div>					
				</div>
			<% end %>										
		</div> <!-- End of col-lg-3 -->

		<div id="header-game-details" class="col-lg-6">

			<h1><%= title @video_game.name %></h1>
				<% if user_signed_in? %>
					<%= link_to "Edit", edit_video_game_path(@video_game), class: "btn btn-secondary" %>
				<% end %>			
			<p class="font-weight-bold">Released: <%= @video_game.release_dates.first.date.strftime("%B %e, %Y") if @video_game.release_dates.first and @video_game.release_dates.first.date %> <%= time_ago_in_words(@video_game.release_dates.first.date) if @video_game.release_dates.first and @video_game.release_dates.first.date %></p>
			<p class="font-weight-bold"><%= link_to @video_game.companies.first.name, @video_game.companies.first if @video_game.companies.first %></p>


			<h2><%= link_to @video_game.parent_video_games.first.name, @video_game.parent_video_games.first if @video_game.parent_video_games.first %></h2>
			
			<!-- Let's put the ret of this shit in a tab -->
			<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
			 	<li class="nav-item">
			    	<a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
			  	</li>
			  	<li class="nav-item">
				    <a class="nav-link" id="add-to-tab" data-toggle="tab" href="#add-to" role="tab" aria-controls="add-to" 	aria-selected="false">Add To Shelves</a>
			  	</li>
		  		<li class="nav-item">
			    	<a class="nav-link" id="contributors-tab" data-toggle="tab" href="#contributors" role="tab" aria-controls="contributors" aria-selected="false">Contributors</a>
			  	</li>	
			  	<% if @video_game.release_dates.where.not("asin =''").any? %>	
		  			<li class="nav-item">
			    		<a class="nav-link" id="buy-now-tab" data-toggle="tab" href="#buy-now" role="tab" aria-controls="buy-now" aria-selected="false">Buy Now</a>
			  		</li>				  			  		  	
			  	<% end %>
			</ul>

			<div class="tab-content" id="myTabContent">
			  	<div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
					<div>
						<%= @video_game.description %>
					</div>

					<% if @video_game.genres.any? %>
						<div>
							<strong>Genres:</strong>
							<%= @video_game.genres.collect { |genre| link_to genre.name, genre }.join(", ").html_safe %>
						</div>
					<% end %>

					<% if @video_game.platforms.any? %>
						<div>
							<strong>Platforms:</strong>
							<%= @video_game.platforms.collect { |platform| link_to platform.name, platform }.join(", ").html_safe %>
						</div>
					<% end %>

					<!-- Buy it now -->


					<!-- Links -->
					<div class="row game-links">
						<% unless @video_game.official_website.blank? %>
							<%= link_to @video_game.official_website, class: "col-lg-4" do %>
								<%= fa_icon "globe" %> Official Website
							<% end %>
						<% end %>

						<% unless @video_game.wikia_page.blank? %>
							<%= link_to @video_game.wikia_page, class: "col-lg-4"  do %>
								<%= fa_icon "globe" %> Wikia Page
							<% end %>
						<% end %>

						<% unless @video_game.wikipedia_page.blank? %>
							<%= link_to @video_game.wikipedia_page, class: "col-lg-4"  do %>
								<%= fa_icon "wikipedia-w" %> Wikipedia Page
							<% end %>			
						<% end %>

						<% unless @video_game.facebook_page.blank? %>
							<%= link_to @video_game.facebook_page, class: "col-lg-4"  do %>
								<%= fa_icon "facebook" %> Facebook Page
							<% end %>	
						<% end %>

						<% unless @video_game.twitter_profile.blank? %>
							<%= link_to @video_game.twitter_profile, class: "col-lg-4"  do %>
								<%= fa_icon "twitter" %> Twitter Profile
							<% end %>	
						<% end %>

						<% unless @video_game.twitch_channel.blank? %>
							<%= link_to @video_game.twitch_channel, class: "col-lg-4"  do %>
								<%= fa_icon "twitch" %> Twitch Channel
							<% end %>	
						<% end %>

						<% unless @video_game.instagram_profile.blank? %>
							<%= link_to @video_game.instagram_profile, class: "col-lg-4"  do %>
								<%= fa_icon "instagram" %> Instagram Profile
							<% end %>	
						<% end %>

						<% unless @video_game.youtube_channel.blank? %>
							<%= link_to @video_game.youtube_channel, class: "col-lg-4"  do %>
								<%= fa_icon "youtube" %> Youtube Channel
							<% end %>	
						<% end %>

						<% unless @video_game.itunes_page_iphone.blank? %>
							<%= link_to @video_game.itunes_page_iphone, class: "col-lg-4"  do %>
								<%= fa_icon "itunes" %> Itunes Page Iphone
							<% end %>	
						<% end %>

						<% unless @video_game.itunes_page_ipad.blank? %>
							<%= link_to @video_game.itunes_page_ipad, class: "col-lg-4"  do %>
								<%= fa_icon "itunes" %> Itunes Page Ipad
							<% end %>	
						<% end %>

						<% unless @video_game.google_play_store_page.blank? %>
							<%= link_to @video_game.google_play_store_page, class: "col-lg-4"  do %>
								<%= fa_icon "google-play" %> Google Play Store Page
							<% end %>	
						<% end %>

						<% unless @video_game.steam_store_page.blank? %>
							<%= link_to @video_game.steam_store_page, class: "col-lg-4"  do %>
								<%= fa_icon "steam" %> Steam Store Page
							<% end %>	
						<% end %>

						<% unless @video_game.subreddit_page.blank? %>
							<%= link_to @video_game.subreddit_page, class: "col-lg-4"  do %>
								<%= fa_icon "reddit" %> Subreddit Page
							<% end %>	
						<% end %>
					</div>
			  	</div>

			  	<div class="tab-pane fade" id="add-to" role="tabpanel" aria-labelledby="add-to-tab">
					<div class="additional-shelves">
						<% if user_signed_in? %>
							<% current_user.shelves.each do |shelf| %>
								<% if shelf.video_games.include?(@video_game) %>
								<!-- If already on the shelf allow to remove -->
									<%= link_to shelved_game_path(shelf.shelved_games.find_by(video_game_id: @video_game.id)), method: :delete,  data: { confirm: "Are you sure?" }, class: "dropdown-item" do %>
										<%= shelf.name %> <%= fa_icon "minus" %>
									<% end %>
								<% else  %>					
									<%= link_to shelved_games_path(:shelf_id => shelf.id, video_game_id: @video_game.id), method: :post, class: "dropdown-item"  do %>
										<%= shelf.name %> <%= fa_icon "plus" %>
									<% end %>				
								<% end %>  								
							<% end %>
						<% else %>
							<p><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> to add to your shelves</p>
						<% end %>
					</div>
			  	</div>	
			  	<div class="tab-pane fade" id="contributors" role="tabpanel" aria-labelledby="contributors-tab">
			  		<%= render @video_game.contributors.uniq %>
			  	</div>		
			  	<div class="tab-pane fade" id="buy-now" role="tabpanel" aria-labelledby="buy-now-tab">
			  		<% @video_game.release_dates.where.not("asin =''").each do |release_date| %>
			  			<%= generate_affiliate_link(release_date) %>
			  		<% end %>
			  	</div>

			</div>
			
		</div><!-- End of col-lg-6 -->

		<div class="col-lg-3">
			<div class="member-ratings">
				<div class="ratings-gauge">				
					<canvas id="member-rating" data-rating="<%= get_user_rating(@video_game) * 10 %>">
					</canvas>
					<p class="rating-percent"><%= 100 * get_user_rating(@video_game).round(2) %>% </p>
				</div>
			</div>
			<hr>
			<div class="rating-stars-container">
				<%= render "ratings/form", rateable: @video_game %>
			</div>

		</div>
	</div> <!-- <div class="row video-game-main"> -->
</div>


<!-- Beginning of game media includes screenshots and videos -->
<% if @video_game.videos.any? || @video_game.screenshots.any? %>
	<div id="game-media" class="container-fluid">
		<% @video_game.videos.each_with_index do |video,index| %>
			<div class="game-media-item embed-responsive embed-responsive-16by9 col-lg-4 col-sm-12">
					<iframe  class="embed-responsive-item" 
						src="https://www.youtube.com/embed/<%= get_youtube_id(video.video) %>?showinfo=0&autoplay=0&modestbranding=1"
						allowfullscreen></iframe>
			</div>
		<% end %>
		
		<% @video_game.screenshots.each do |screenshot| %>
			<div class="game-media-item col-lg-4 col-sm-12">
				<%= image_tag screenshot.screenshot, class: "img-fluid" %>
			</div>

		<% end %>
	</div>
<% else %>
	<hr>
<% end %>

<!-- Contains all game details etc. -->
<div class="container">
	<div class="row">
	<div class="col-lg-8 order-2 order-lg-1">
		<!-- Create the editor container -->			
		<%= render "member_reviews/reviews", video_game: @video_game %>

		<% unless @video_game.story.empty? %>
			<h4>Storyline</h4>
			<%= @video_game.story.html_safe %>
		<% end %>

		<div class="similar-games">
			<h4>Recommendations</h4>
			<%= render partial: 'video_game_carousel' , locals: {video_games: @video_game.similar_games.limit(15)}%>
		</div>
		
		<hr>
		<%= render partial: "questions/questions", locals: {object: @video_game}  %>
		<hr>
		<%= render partial: "topics/topics", locals: {object: @video_game} %>
	</div>
	<div class="col-lg-4 order-1 order-lg-2">
		<div class="card">
			<div class="card-body">
			<div class="game-details">
				<% if @video_game.release_dates.any? %> 
					<div class="release-dates mb-2">
						<label class="d-block mb-0 font-weight-bold">Release Dates:</label>
						<% @video_game.release_dates.each do |release_date| %>
							<% if release_date.date %>
								<span class="d-block"><%= release_date.date.strftime("%B %e, %Y") %> - <%= link_to release_date.platform.name, release_date.platform %>
								</span>
							<% end %>
						<% end %>						
					</div>
				<% end %>

				<% if @video_game.game_modes.any? %>
					<div class="game-modes mb-2">
						<label class="d-block mb-0 font-weight-bold">Game Modes:</label>
						<% @video_game.game_modes.each do |game_mode| %>
							<%= link_to game_mode.name, game_mode, class: "d-block" %>
						<% end %>			
					</div>
				<% end %>

				<% if @video_game.player_perspectives.any? %>
					<div class="player-perspectives mb-2">
						<label class="d-block mb-0 font-weight-bold">Player Perspectives: </label>
						<% @video_game.player_perspectives.each do |player_perspective| %>
							<%= link_to player_perspective.name, player_perspective, class: "d-block" %>
						<% end %>				
					</div>
				<% end %>

				<% if @video_game.publishers.any? %>
					<div class="publishers mb-2">
						<label class="d-block mb-0 font-weight-bold">Publishers:</label>
						<% @video_game.publishers.each do |publisher| %>
							<%= link_to publisher.name, publisher, class: "d-block" %>
						<% end %>				
					</div>
				<% end %>

				<% if @video_game.main_developers.any? %>
					<div class="main-developers mb-2">
						<label class="d-block mb-0 font-weight-bold">Main Developers:</label>
						<% @video_game.main_developers.each do |main_developer| %>
							<%= link_to main_developer.name, main_developer, class: "d-block" %>
						<% end %>					
					</div>
				<% end %>

				<% if @video_game.supporting_developers.any? %>
					<div class="supporting-developers mb-2">
						<label class="d-block mb-0 font-weight-bold">Supporting Developers:</label>
						<% @video_game.supporting_developers.each do |supporting_developer| %>
							<%= link_to supporting_developer.name, supporting_developer, class: "d-block" %>
						<% end %>					
					</div>
				<% end %>

				<% if @video_game.porting_developers.any? %>
					<div class="porting-developers mb-2">
						<label class="d-block mb-0 font-weight-bold">Porting Developers:</label>
						<% @video_game.porting_developers.each do |porting_developer| %>
							<%= link_to porting_developer.name, porting_developer, class: "d-block" %>
						<% end %>
					</div>
				<% end %>

				<% if @video_game.type_of %>
					<div class="game-type mb-2">
						<label class="d-block mb-0 font-weight-bold">Game Type:</label>
						<span class="d-block"><%= @video_game.type_of.titleize if @video_game.type_of %></span>	
					</div>
				<% end %>

				<% if @video_game.status %>
					<div class="game-status mb-2">
						<label class="d-block mb-0 font-weight-bold">Game Status:</label>
						<span class="d-block"><%= @video_game.status.titleize if @video_game.status %></span>
					</div>			
				<% end %>
			
				<% if @video_game.expansions.any? %>			
					<div class="game-expansions mb-2">
						<label class="d-block mb-0 font-weight-bold">Expansions:</label>
						<% @video_game.expansions.each do |expansion| %>
							<%= link_to expansion.name, expansion %><br>
						<% end %>
					</div>
				<% end %>

				<% if @video_game.game_engines.any? %>
					<div class="game-engines mb-2">
						<label class="d-block mb-0 font-weight-bold">Game Engines:</label>
						<% @video_game.game_engines.each do |game_engine| %>
							<%= link_to game_engine.name, game_engine %><br>
						<% end %>
					</div>
				<% end %>

				<% if @video_game.series.any? %>
					<div class="series mb-2">
						<label class="d-block mb-0 font-weight-bold">Series:</label>
						<% @video_game.series.each do |series| %>
							<%= link_to series.name, series %><br>
						<% end %>
					</div>
				<% end %>
				
				<% if @video_game.franchises.any? %>
					<div class="franchise mb-2">
						<label class="d-block mb-0 font-weight-bold">Franchise:</label>
						<% @video_game.franchises.each do |franchise| %>
							<%= link_to franchise.name, franchise %><br>
						<% end %>	
					</div>
				<% end %>

				<% if @video_game.bundled_games.any? %>
					<div class="bundled-games mb-2">
						<label class="d-block mb-0 font-weight-bold">Bundled Games:</label>
						<% @video_game.bundled_games.each do |game| %>
						<%= link_to game.name, game %><br>
						<% end %>			
					</div>
				<% end %>

				<% if @video_game.shelves.where(editable: true).any? %>
					<div class="shevles-with-game mb-2">
						<label class="d-block mb-0 font-weight-bold">Shelves This Game Is On:</label>
						<% @video_game.shelves.where(editable: true).each do |shelf| %>
							<%= link_to "#{shelf.name} by #{shelf.user.username}", user_shelf_url(shelf.user,shelf) %><br>
						<% end %>			
					</div>	
				<% end %>


				<% if @video_game.other_games_in_series.any? %>
					<div class="video-game-series mb-2">
						<label class="d-block mb-0 font-weight-bold">Other Games In Series:</label>
						<% @video_game.other_games_in_series.each do |game| %>
							<% if game != @video_game %>
								<%= link_to "#{game.name}", game %><br>
							<% end %>
						<% end %>			
					</div>	
				<% end %>

				<% if @video_game.other_games_in_franchise.any? %>
					<div class="video-game-franchises mb-2">
						<label class="d-block mb-0 font-weight-bold">Other Games In Franchise:</label>
						<% @video_game.other_games_in_franchise.each do |game| %>
							<% if game != @video_game %>
								<%= link_to "#{game.name}", game %><br>
							<% end %>
						<% end %>			
					</div>	
				<% end %>

				<% if @video_game.multiplayer_modes.any? %>
					<div class="multipler-info mb-2">
						<% unless @video_game.multiplayer_modes.empty? %>
							<label class="d-block mb-0 font-weight-bold">Multiplayer Modes:</label>
							<% @video_game.multiplayer_modes.each do |multiplayer_mode| %>
								<p><%= multiplayer_mode.platform.name %></p>
								<p><%= multiplayer_mode.online_co_op_max_players %></p>
								<p><%= multiplayer_mode.offline_co_op_max_players %></p>
								<p><%= multiplayer_mode.online_max_players %></p>
								<p><%= multiplayer_mode.offline_max_players %></p>
								<p><%= multiplayer_mode.is_online_co_op %></p>
								<p><%= multiplayer_mode.is_offline_co_op %></p>
								<p><%= multiplayer_mode.is_lan_co_op %></p>
								<p><%= multiplayer_mode.is_co_op_campaign %></p>
								<p><%= multiplayer_mode.is_online_split_screen %></p>
								<p><%= multiplayer_mode.is_offline_split_screen %></p>
								<p><%= multiplayer_mode.is_drop_in_drop_out %></p>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>		
		</div>
		</div>
	</div>
</div>

</div>

<div id="timeline" class="tab-pane container active mt-5">
	<h4>Posts</h4>
	<% if user_signed_in? %>
		<%= render partial: "posts/form" %>
	<% end %>

	<div class="posts-index">
		<%= render @video_game.wall_posts %>
	</div>

</div>