<tr>
	<td><%= membership.user.username %></td>
	<td><%= image_tag membership.user.avatar, size: "50" %></td>
	<td><%= membership.status.split('_').map(&:capitalize).join(' ') %></td>
	<td><%= membership.role.split('_').map(&:capitalize).join(' ') %></td>
	<td>
		<!-- Example split danger button -->
		<div class="btn-group">
	  		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Actions  
			</button>
			<div class="dropdown-menu">
				<% if membership.admin? %>
    				<%= link_to "Demote to Member", demote_membership_path(membership), method: :post, class: "dropdown-item" %>
				<% else %>
    				<%= link_to "Promote to Admin", promote_membership_path(membership), method: :post, class: "dropdown-item" %>
				<% end %>
    			<div class="dropdown-divider"></div>  
				<% if membership.approved? %>
    				<%= link_to "Revoke Membership", revoke_membership_path(membership), method: :post, class: "dropdown-item" %>
				<% else %>
    				<%= link_to "Approve Membership", approve_membership_path(membership), method: :post, class: "dropdown-item" %>
				<% end %>    			
  			</div>
		</div>
	</td>
</tr>