<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Avatar</th>
        <th scope="col">Status</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @memberships %>
    </tbody>
  </table>
</div>