<div class="col-lg-3">

	<% if user_signed_in? and  current_user == @user %>
		<div class="add-shelf-form mb-3">
			<%= render :template => "shelves/new" %>
		</div>
	<% end %>
	<ul class="list-group">
		<li class="list-group-item <%= "active" if params[:id].nil? %>"><%= link_to "All (#{(@user.video_games_count)})", user_shelves_path(params[:user_id])  %></li>
		<%= render @shelves %>
	</ul>
	<% if user_signed_in? and  current_user == @user and params[:id] %>
		<div class="mb-5 mt-3">
			<%= form_for ShelvedGame.new do |f| %>
				<%= f.hidden_field :shelf_id, value: @shelf.id %>
				<div class="form-group">
					<div class="form-group">
						<%= f.label :video_game_id, "Add Game To Shelf" %>
						<%= f.collection_select :video_game_id, VideoGame.none, :id, :name, {}, {class: "form-control"} %>			
						</div>
					<%= f.submit "Add Game", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	<% end %>	
</div>
