<% video_game = shelved_game.video_game%>
<div class="mb-3 col-12 col-xl-3 col-md-4">

	<div class="card">
		<%= link_to video_game do %><%= image_tag video_game.box_art, class: "box-art mr-3 img-fluid" %><% end %>
	    <div class="card-body">
	    	<h5 class="mt-0 mb-1"><%= link_to video_game.name, video_game %></h5>
			<% if video_game.main_developers.any? %>    	
	    		<div>
					By: <%= link_to video_game.main_developers.first.name, video_game.main_developers.first %>
				</div>
			<% end %>
			Average Rating: <span class="average-rating"><%= video_game.average_rating %></span>%
			<%= render "ratings/form", rateable: video_game %>
	    </div>	
		<% if user_signed_in? and @user == current_user && params[:id] %>
	    	<div class="card-footer">
				<%= button_to "Remove", shelved_game_path(shelved_game), method: :delete, class: "remove-from-shelf btn btn-block btn-secondary", data: {confirm: "Are you sure you want to remove game from shelf?"} %>
	    	</div>
		<% end %>
	</div>
</div>