<div class="container mt-5">
	<%= render "form" %>	
	<%= link_to "Delete Shelf", user_shelf_path(current_user, @shelf), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger mt-4" %>
</div>
