<div class="container">
	<div class="row">
		<%= render "sidebar" %>
		<div class="col-lg-9">
			<h1><%= @user.username %>'s Library</h1>
			<%= render partial: 'game_table' %>
		</div>
	</div>
</div>
