<%= form_for [current_user, Shelf.new] do |form| %>
	<div class="input-group">
		<%= form.text_field :name, class: "form-control", placeholder: "New Shelf" %> 
		<span class="input-group-btn">
			<%= form.submit "+", class: "btn btn-default btn-primary" %>
		</span>
	</div><!-- /input-group -->
<% end %>
