<div class="container">
	<div class="row">
		<%= render "sidebar" %>
		<div class="col-lg-9">
			<h1><%= @shelf.user.username %>'s <%= @shelf.name %>  Shelf<% if current_user && @shelf.user == current_user && @shelf.editable %><%= link_to "Edit", edit_user_shelf_path(@shelf.user, @shelf), class: 'btn btn-primary ml-2' %><% end %></h1>
			<%= render partial: 'game_table' %>		
		</div>
	</div>
</div>