<div class="container">

  <h2>Account</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

  <div class="row">
    <div class="col-lg-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General Settings</a>
        <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" href="#v-pills-notifications" role="tab" aria-controls="v-pills-notifications" aria-selected="true">Notifications</a>        
        <a class="nav-link" id="v-pills-social-tab" data-toggle="pill" href="#v-pills-social" role="tab" aria-controls="v-pills-social" aria-selected="false">Social Media</a>
        <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
        <a class="nav-link" id="v-pills-bad-tab" data-toggle="pill" href="#v-pills-bad" role="tab" aria-controls="v-pills-bad" aria-selected="false">Horrible Nasties</a>        
      </div>
    </div>
    <div class="col-lg-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <%= f.label :username %><br />
                <%= f.text_field :username, class: "form-control"  %>
              </div>          
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :birthday %><br />
                <%= f.date_field :birthday, class: "form-control"  %>
              </div>          
              <div class="form-group">
                <%= f.label :my_story %><br />
                <%= f.text_area :my_story, class: "form-control"  %>
              </div>                        
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= image_tag @user.cover_photo, class: "img-fluid" %>
                <%= f.label :cover_photo %><br />
                <%= f.file_field :cover_photo, class: "form-control"  %>
              </div> 

              <div class="form-group">
                <%= f.label :delete_cover_photo %>
                <%= f.check_box :delete_cover_photo, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= image_tag @user.avatar, class: "img-fluid" %>
                <%= f.label :avatar %><br />
                <%= f.file_field :avatar, class: "form-control"  %>
              </div>            
              <div class="form-group">
                <%= f.label :delete_avatar %>
                <%= f.check_box :delete_avatar, class: "form-control" %>
              </div>

            </div>          
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-notifications" role="tabpanel" aria-labelledby="v-pills-notifications-tab">
          <div class="form-group">
            <%= f.label :daily_summary_email_opt_in, "Receive Daily Email Summaries?" %>
            <%= f.check_box :daily_summary_email_opt_in %>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-social" role="tabpanel" aria-labelledby="v-pills-social-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :facebook_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'facebook', class: "input-group-text" %>
                  </div>              
                  <%= f.url_field :facebook_profile, class: "form-control"  %>
                </div>            
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :twitter_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'twitter', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :twitter_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :twitch_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'twitch', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :twitch_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :instagram_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'instagram', class: "input-group-text" %>
                  </div>               
                  <%= f.url_field :instagram_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :youtube_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'youtube', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :youtube_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :steam_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'steam', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :steam_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :linkedin_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'linkedin', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :linkedin_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :pinterest_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'pinterest', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :pinterest_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :soundcloud_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'soundcloud', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :soundcloud_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :google_plus_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'google-plus', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :google_plus_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :reddit_profile %><br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <%= fa_icon 'reddit', class: "input-group-text" %>
                  </div>                
                  <%= f.url_field :reddit_profile, class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :battlenet_profile %><br />
                <%= f.url_field :battlenet_profile, class: "form-control"  %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :origin_profile %><br />
                <%= f.url_field :origin_profile, class: "form-control"  %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :uplay_profile %><br />
                <%= f.url_field :uplay_profile, class: "form-control"  %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :discord_profile %><br />
                <%= f.url_field :discord_profile, class: "form-control"  %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
          </div>    

          <div class="form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>
          </div>                
        </div>
        <div class="tab-pane fade" id="v-pills-bad" role="tabpanel" aria-labelledby="v-pills-bad-tab">
          <h3>Destroy my account</h3>
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="actions mt-3">
    <%= f.submit "Update", class: "btn btn-primary" %>
    <%= link_to "Back", :back %>
  </div>
  <% end %>



</div>