<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <h1 class="text-center">Sign up it's free forever</h1>
    <div class="row">
      <div class="col-lg-5">
        <h4 class="text-muted text-center">Register with</h4>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-#{provider}" do %>
            <%= fa_icon provider %> Sign up with <%= "#{OmniAuth::Utils.camelize(provider)}" %>
            <% end %>
          <% end -%>
        <% end -%>        
      </div>
      <div class="col-lg-2 text-center">
        <br/>
        <br/>
        <h4 class="text-muted text-center">or</h4>      
      </div>
      <div class="col-lg-5">
        <fieldset>
          <div class="form-group">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-3" %>
          </div>
          <%= render "devise/shared/links" %>        
        </fieldset>        
      </div>
    </div>
  <% end %>
</div>