<%= form_for @platform do |f| %>
	<div class="form-group">
  		<%= f.label :name %>
  		<%= f.text_field :name, class: "form-control" %>
  	</div>

  <%= f.submit "Add Platform", class: "btn btn-primary" %>
<% end %>
 