<div class="container mt-5">
    <h1>Video Game Platforms</h1>
    <%= link_to "New Platform", new_platform_path, class: "btn btn-success mb-3" %>
	
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
   	        <%= render @platforms %>
        </tbody>
    </table>	
</div>