<%= form_for [@video_game,@listing] do |form| %>

	<%= form.label :price %>
	<%= form.number_field :price, step: :any %>

	<%= form.collection_select :platform_id, Platform.all, :id, :name %>

	<!-- We can set this based off of where we detect the client to be -->
	<%= form.hidden_field :currency, value: "USD" %>
	<%= form.hidden_field :user_id, value: current_user.id %>
	<%= form.hidden_field :video_game_id, value: @video_game.id %>


	<%= form.submit %>
<% end %>