<%= @video_game.name %>
<%= image_tag @video_game.box_art %>

<% @listings.each do |listing| %>
	<%= listing.price %>
	<%= listing.platform.name %>
	<a href="#" class="btn btn-primary">Buy Now</a>
<% end %>