<div class="comment" id="comment-<%= comment.id %>">
   <div class="user-comment-avatar">
      <%= image_tag comment.user.avatar %>
   </div>
   <div class="comment-content">

      <div class="comment-body">
         <%= link_to comment.user.username, comment.user %>
         <p><%= sanitize(comment.body) %></p>
      </div>
      <% if user_signed_in? %>

        <div class="comment-actions">
         <% reply_id = "add-reply-for-#{comment.id}" %>
         <%= render partial: "likes/button", locals: {likeable: comment, text_only: true} %>
         <span role="presentation" aria-hidden="true"> · </span>
         <%= link_to "Reply", new_comment_path(commentable_id: commentable.id, commentable_type: commentable.class.name, reply_id: reply_id, parent_id: comment.id), id: reply_id, remote: true %>
         <span role="presentation" aria-hidden="true"> · </span>
         <i><%= time_ago_in_words(comment.created_at) %></i>
         <% if comment.user == current_user %>
            <span role="presentation" aria-hidden="true"> · </span>
            <%= link_to "Edit", edit_comment_path(comment), remote: true %>
            <span role="presentation" aria-hidden="true"> · </span>
            <%= link_to "Destroy", comment_path(comment), method: :delete, remote: true %>          
         <% end %>
        </div>
      <% end %>
 </div>
</div>