<div class="comments">
	<% if user_signed_in? %>
		<%= render partial: "comments/form", locals: {comment: Comment.new, commentable: commentable} %>
	<% end %>
	<%= nested_comments(comments.where(ancestry: nil)) %>
</div>
