<% parent_id = defined?(parent) && !parent.nil? ? parent.id : nil  %>

<div class="comment" id="comment-<%= comment.id%>">
   <div class="user-comment-avatar">
      <%= image_tag current_user.avatar %>
   </div>
	<% placeholder ||= "Comment on this..."%>
	<%= form_for comment, authenticity_token: true, remote: true, html: {id: "comment-#{parent_id}-#{commentable.class.name}-#{commentable.id}"} do |f| %>
		<%= f.hidden_field :parent_id, value: parent_id %>
		<%= f.hidden_field :commentable_id, value: commentable.id %>
		<%= f.hidden_field :commentable_type, value: commentable.class.name  %>
		<%= f.hidden_field :user_id, value: current_user.id %>
	    
		<div class="tinymce" class="comment-body" >		
			<%= sanitize(comment.body) %>
		</div>

		<%= tinymce menubar: false, inline: true, theme: 'inlite', insert_toolbar: 'undo redo', selection_toolbar: 'italic underline',selector: '.tinymce' %>

		<%= f.submit "Post", class: "btn btn-primary" %>
	<% end %>
</div>