var newCommentForm = $("<%= "#comment-#{@comment.parent_id}-#{@comment.commentable.class.name}-#{@comment.commentable.id}" %>");
var comment = "<%= j render partial: "comments/comment", locals: {comment: @comment, commentable: @comment.commentable} %>";
comment += "<div class=\"nested-comments\"></div>";

if (newCommentForm.closest('.comments').find('.comment').first().is(newCommentForm.closest('.comment').first()))
{
	var brandNewCommentForm = "<%= j render partial: "comments/form", locals: {comment: Comment.new, commentable: @comment.commentable} %>";
	newCommentForm.closest('.comments').prepend(brandNewCommentForm);
}

newCommentForm.closest('.comment').replaceWith(comment);

if($("#Comment-<%= @comment.parent_id%>").length)
{
	var comment = $("#Comment-<%= @comment.parent_id%>");
	replyLink = $('#add-reply-for-<%= @comment.parent_id%>');
	replyLink.attr("data-href",replyLink.attr("href"));
	replyLink.attr("href", replyLink.data('href'));
}