var editForm = "<%= j render partial: 'comments/form', locals: {comment: @comment, commentable: @comment.commentable, parent: @comment.parent}  %>";
var comment = $('#comment-<%= @comment.id%>');

comment.replaceWith(editForm);

