<div class="container mt-5">
	<div class="comments">
		<%= render partial: "form", locals: {comment: @comment, commentable: @comment.commentable, parent: @comment.parent} %>	
	</div>
		<%= link_to 'Destroy',  comment_path(@comment), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger mt-3 pull-right" %>		
</div>