var replyLink = $('#<%= params[:reply_id] %>');
replyLink.attr("data-href",replyLink.attr("href"));
replyLink.removeAttr("href"); 

// We are either going to put the comment in the last location of the comments or the last nested comments at the same level
var commentsParent = replyLink.closest('.comment').next('.nested-comments');
commentsParent.append("<%= j render(:partial => 'comments/form', locals: {comment: Comment.new, commentable: @commentable, parent: @parent, placeholder: 'Write a reply...'}) %>");

