var commentForm = $('#<%= "comment-#{@comment.id}" %>');
commentForm.closest(".comment").replaceWith("<%= j render partial: "comments/comment", locals: {comment: @comment, commentable: @comment.commentable } %>");