<div class="gif-control">
	<span class="btn btn-light mt-2 insert-gif">GIF</span>
	<div class="gif-selection-window">
		<div class="gif-search  m-2">
			<input class="text-control" type="text" placeholder="Search GIFs across apps..." value="">		
		</div>
		<div class="gif-scroll px-1">
			<div class="spinner"></div>
		</div>
		<%= image_tag "giphy_attribution_marks/animated_logos/PoweredBy_640_Horizontal_Light-Backgrounds_With_Logo.gif", class: "img-fluid" %>		
	</div>
</div>