<div class="container">
	<h1>Results for <%= params[:q] %></h1>
	<%= link_to "Add a Game", new_video_game_path, class: "btn btn-success mb-3" %>			
	<%= render partial: 'pinterest/video_game_grid', locals: {video_games: @results} %>
</div>