<div class="new-customer-review">
	<%= form_for object do |f| %>
		<div class="form-group">
			<%= f.label "What did you think?" %>
			<%= f.select :rating, ['',1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}  %>
		</div>

		<div class="form-group">
			<%= f.text_area :body, class: "tinymce" %>
		</div>

		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :video_game_id, value: @video_game.id %>
		<%= tinymce %>

		<%= f.submit "Post Review", class: "btn btn-success" %>
	<% end %>
</div>