<div class="member_review">
	<%= member_review.user.username %>
	<%= link_to "Edit", edit_member_review_url(member_review) if current_user == member_review.user %>
	<div>
		<%= generateStars(member_review.rating, 10).html_safe %>
	</div>
	<%= member_review.body.html_safe %>
</div>