<div class="customer-reviews">
	<h4>Member Reviews</h4>

	<%= render partial: "member_reviews/form", locals: {object: MemberReview.new} if current_user %>
	<%= render video_game.member_reviews %>
</div>