<div class="container mt-5">
	<%= render partial: "form", locals: {object: @member_review} %>
	<!-- Or Delete -->
	<%= link_to 'Destroy',  member_review_path(@member_review),
    data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger mt-3" %>
</div>