<div class="container mt-5">
	<div class="col-lg-10 offset-1">
		<h1><%= link_to @user.username, @user %> Member Reviews</h1>	
		<% @user.member_reviews.each do |member_review| %>		
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-2">
							<%= image_tag member_review.video_game.box_art, class: "img-fluid" %>
						</div>
						<div class="col-lg-10">
							<%= link_to member_review.video_game.name, member_review.video_game %>
							<%= link_to sanitize(member_review.body), member_review, class: "text-dark" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>