<% video_game = @member_review.video_game %>
<div class="container mt-5">
	<div class="row">
		<div class="box-art col-lg-2">
			<%= image_tag video_game.box_art, class: "img-fluid" %>
		</div>
		<div class="game-info col-lg-10">

			<div><h1><%= link_to "#{@member_review.user.username} review of #{video_game.name}", video_game %></h1>></div>
			<% unless video_game.description.empty? %>
				<div class="mt-3">
					<%= video_game.description %>
				</div>
			<% end %>			
		</div>
	</div>
	<hr>
	<div class="reviewer">
		<div class="avatar pull-left">
			<%= image_tag @member_review.user.avatar, size: "50", class: "mr-4" %>
		</div>
		<div class="user-info">
			<%= link_to @member_review.user.username, @member_review.user %></br>
			<p class="pull-right font-weight-bold"><%= @member_review.rating / 10.0 * 100  %> out of 100</p>
			<span class="text-muted"><%= time_ago_in_words @member_review.created_at %></span>
		</div>
	</div>
	<div class="review mt-3">
		<%= raw @member_review.body %>
	</div>
</div>