<%= form_for @topic do |f| %>

	<%= f.hidden_field :is_poll, value: false %>
	<% if @topic.topicable %>
		<%= f.hidden_field :topicable_id, value: @topic.topicable.id%>
		<%= f.hidden_field :topicable_type, value: @topic.topicable.class.name%>	
	<% else %>
		<div class="form-group">
			<%= f.label :topicable_id, "Video Game" %>
			<%= f.collection_select :topicable_id, [], :id, :name, {}, {multiple: false, class: "form-control"} %>
			<%= f.hidden_field :topicable_type, value: "VideoGame" %>	
		</div>
	<% end %>
	
	<div class="form-group mt-3">
		<%= f.label :topic %>
		<%= f.text_area :topic, class: "form-control" %>
	</div>

	<%= f.submit class: "btn btn-primary" %>
<% end %>