<div class="topics">
	<h4><%= link_to "Discuss This Game", topics_path(topicable_id: object.id, topicable_type: object.class.name) %> </h4>
	<%= link_to "New Topic", new_topic_path(topicable_id: object.id, topicable_type: object.class.name), class: "btn btn-success mb-3" %>
	<div class="list-group">
		<%= render object.topics.limit(5) %>
	</div>
	
	<% if object.topics.count > 5 %>
		<%= link_to "View More...", topics_path(topicable_id: object.id, topicable_type: object.class.name), class: "pull-right" %> 
	<% end %>

</div>






