<div class="list-group-item">
	<div class="row">
		<div class="col-2">
			<%= link_to topic do %>	
				<%= image_tag topic.user.avatar, class: "img-fluid" %>
			<% end %>	
		</div>
		<div class="col-10">
			<div class="topic-title">
				<h5 class="mb-1"><%= link_to topic.topic, topic %></h5>
			</div>
			<div class="topic-info">
				<span class="topic-author">By: <%= link_to topic.user.username, topic.user %></span>
				<span class="separator">∙</span>
				<span class="topic-answer-count"><%= topic.topic_comments.count %> Answers</span>
				<% if topic.topic_comments.any? %>
					<span class="separator">∙</span>
					<time datetime="2018-09-10T08:21:05-07:00">
						<%= "#{time_ago_in_words(topic.topic_comments.last.created_at)} ago" if  topic.topic_comments.last %>
					</time>
				<% end %>
			</div>				
		</div>
	</div>
</div>