<div class="container">
	<% if @topicable %>
		<h1><%= link_to @topicable.name, @topicable %> All Topic Threads</h1>
		<div class="discussion row">
			<div class="discussion-image col-lg-2">
				<% object = @topicable %>
				<%= link_to object do %>
					<%= image_tag object.box_art, class: "img-fluid" %></br>
					<%= object.name %>
				<% end %>
					
				<%= link_to "New Topic", new_topic_path(topicable_id: object.id, topicable_type: object.class.name ), class: "btn btn-success btn-block" %>
			</div>
			<div class="discussion-body col-lg-10">
				<%= render partial: "table", locals: {object: object} %>
			</div>
		</div>	
	<% else %>
		<h1>Video Game Topics</h1>	
		<%= link_to "New Topic", new_topic_path, class: "btn btn-success mb-3" %>
		<% @topics.select(:topicable_id, :topicable_type).distinct.each do |topicable| %>
			<div class="discussion row">
				<div class="discussion-image col-lg-2">
					<% object = topicable.topicable_type.constantize.find(topicable.topicable_id) %>
					
					<%= link_to object do %>
						<%= image_tag object.box_art, class: "img-fluid" %></br>
						<%= object.name %>
					<% end %>
					
					<%= link_to "New Topic About #{object.name}", new_topic_path(topicable_id: object.id, topicable_type: object.class.name ), class: "btn btn-success btn-block" %>
				</div>
				<div class="discussion-body col-lg-10">
					<%= render partial: "table", locals: {object: object} %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
