<div class="container">
	<h1>Post A New Discussion Topic</h1>
	<% if @topic.topicable %>
		This topic is about <%= link_to @topic.topicable.name, @topic.topicable %>
	<% end %>

	<%= render "form" %>
</div>