<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-12">
			<div class="box-art">
				<%= image_tag @topic.topicable.box_art, class: "img-fluid" %>
			</div>				
		</div>
		<div class="col-lg-9 col-sm-12">
			<div class="topic-info">
				<h1><%= link_to "#{@topic.topicable.name} Discussion", topics_path(topicable_id:  @topic.topicable.id, topicable_type:  @topic.topicable.class.name ) %></h1>
				<div id="topic-text">
					Topic: <%= @topic.topic %></br>
					<span class="topic-user">
						By: <%= link_to @topic.user.username, @topic.user %>
					</span></br>
					<span id="topic-views"><%= "#{pluralize(@topic.impressionist_count, 'view')}" %></span>
					<% if user_signed_in? && @topic.user == current_user %>
						<div><%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-secondary" %></div>
					<% end %>
				</div>			
			</div>			
		</div>
	</div>
	<div class="pagination">
		<%= paginate @topic_comments %>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<%= render "topic_comments/form" %>
		</div>
	</div>
	
	<%= render @topic_comments %>

 	<div class="pagination">
		<%= paginate @topic_comments %>
	</div>
</div>
