<div class="notification clearfix mb-3 bg-success text-white" data-id="<%= reward.id %>" id="reward-<%= reward.id %>">
  <div class="close">
    <%= fa_icon "close" %>
  </div>
  <div class="message">
    🎉🎉🎉 Congrats, you earned <%= reward.points %> points for <%= reward.rewardable.class.name %>🎉🎉🎉
  </div>
</div>    