Level <%= current_user.get_current_level %>  
<div class="progress">
	<div class="progress-bar bg-success" role="progressbar" style="width: <%= current_user.get_percent_progress %>%" aria-valuenow="<%= current_user.points %>" aria-valuemin="<%= current_user.get_current_level_min %>" aria-valuemax="<%= current_user.get_points_to_level_up %>"></div>
</div>    
<span class="pull-right"><%= current_user.get_points_to_level_up - current_user.points %> points to level up</span>