<div>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Action</th>
	      <th scope="col">Points</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%= render @user_rewards %>
	  </tbody>
	</table>

	<%= paginate @user_rewards %>
</div>