<li class="nav-item dropdown" id="notifications-navbar">
	<a class="nav-link dropdown-toggle swing infinite" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= fa_icon "bell" %><span class="badge <%= current_user.unread_notifications.count == 0 ? "badge-secondary" : "badge-danger" %>"><%= current_user.unread_notifications.count %></span></a>
	<div id="notification-flyout" class="dropdown-menu-right dropdown-menu" aria-labelledby="navbarDropdown">
  		<div class="notification-header dropdown-header clearfix">
    		<h6 class="d-inline-block">Notifications</h6>
    		<% if current_user.unread_notifications.count > 0%>
          <span class="pull-right"><%= link_to "Mark All as Read", mark_all_as_read_path, method: :post %></span>
        <% end %>
  		</div>
  		<% if current_user.notifications.any? %>
        <div class="notifications-container">
          <%= render partial: "notifications/notification", collection:  @notifications %> 
        </div>
        <nav id="notifications-page-nav">
          <%= link_to_next_page(@notifications, 'Next Page', {:remote => true, param_name: :notifications_page}) %>
        </nav>            
        <div class="page-load-status text-center">
          <div class="loader-ellips">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
          </div>
          <span class="infinite-scroll-request">
            Loading...      
          </span> 
          <span class="infinite-scroll-last">
            No more pages to load.
          </span>   
        </div>             
  		<% else %>
  			<div class="no-notifications text-center">
  				Sorry you don't have any notifications yet.
  				<div><%= fa_icon "frown-o" %></div>
  			</div>
  		<% end %>
  	</div>
</li>