<%= link_to notification, class: "navbar-notification card #{"unread" unless notification.read_at}" do %>	
	<div class="card-body">
		<% if notification.actor %>
			<div>
				<%= image_tag notification.actor.avatar, class: "img-fluid pull-left mr-4", size: "48" %>
			</div>
		<% end %>
		<div><%= notification.action %></div>
		<span class="small text-muted"><%= time_ago_in_words notification.created_at %></span>
	</div>		
<% end %>