<div class="container mt-5">
	<%= form_tag users_omniuath_create_signup_path(request.parameters.except(:controller, :action)), method: "post"  do %>
  		
  		<div class="form-group">
  			<%= label_tag :email %>
  			<%= email_field_tag :email, nil, class: "form-control" %>
  		</div>
  		<%= submit_tag "Complete Registration", class: "btn btn-success" %>
<% end %>	
</div>