<% if user_signed_in? %>
	<% text_only ||= false %>
	<% if text_only %>
		<% if current_user.likes.find_by(likeable_id: likeable.id, likeable_type: likeable.class.name) %>
	  		<%= link_to "Unike", unlike_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), :id => "#{likeable.class.name}-#{likeable.id}" , method: :delete, remote: true %>
		<% else %>
	  		<%= link_to "Like", like_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), method: :post, :id => "#{likeable.class.name}-#{likeable.id}" , remote: true %>
		<% end %>	
	<% else %>
		<% if current_user.likes.find_by(likeable_id: likeable.id, likeable_type: likeable.class.name) %>
	  		<%= button_to unlike_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), :form => { :id => "#{likeable.class.name}-#{likeable.id}" }, method: :delete, class: "btn btn-light liked", remote: true  do %>
	  			<%= fa_icon "thumbs-up" %> Like
	  		<% end %>
		<% else %>
	  		<%= button_to like_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), :form => { :id => "#{likeable.class.name}-#{likeable.id}" }, class: "btn btn-light unliked", remote: true  do %>
	  			<%= fa_icon "thumbs-o-up" %> Like
	  		<% end %>
		<% end %>	
	<% end %>
<% end %>