var container = $("#<%= "#{@likeable.class.name}-#{@likeable.id}" %>");
// If it's a form text_only is false else it's true
var newlink = "<%=  j render partial: "likes/button", locals: {likeable: @likeable, text_only: true} %>";
var newButton = "<%=  j render partial: "likes/button", locals: {likeable: @likeable, text_only: false} %>";

if(container.is("form"))
{
	container.replaceWith(newButton);
}
else
{
	container.replaceWith(newlink);
}

