<%= form_for @group do |f| %>
	<div class="form-group">	
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label "Require Approval To Join?" %>
		<%= f.check_box :require_approval,  class: "form-control" %>
	</div>

	<div class="form-group">
		<%= image_tag @group.banner, class: "img-fluid" %><br>
		<%= f.label :banner %>
		<%= f.file_field :banner,  class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :delete_banner %>
		<%= f.check_box :delete_banner,  class: "form-control" %>
	</div>		

	<div class="form-group">
		<%= image_tag @group.avatar, class: "img-fluid" %><br>
		<%= f.label :avatar %>
		<%= f.file_field :avatar,  class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :delete_avatar %>
		<%= f.check_box :delete_avatar,  class: "form-control" %>
	</div>		

	<%= f.submit class: "btn btn-block btn-primary" %>
<% end %>	
