<div class="container mt-5">
	<%= render "form" %>
	<%= link_to "Delete Group", group_url(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block mt-5" %>
</div>