<div class="container mt-5">
	<h1>Video Game Groups</h1>
	<%= link_to "Create Group", new_group_path, class: "btn btn-success float-left" %>
	<div class="row">
		<%= render @groups %>
	</div>
</div>

