<% if @group.banner.file %>
	<%= image_tag @group.banner, class: "cover-photo" %>			
<% end %>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<div class="group-avatar">
					<%= image_tag @group.avatar, class: "img-fluid" %>			
				</div>
				<div class="card-body">
					<h1><%= @group.name %></h1>	

					<% if group_admin?(@group) %>
						<%= link_to "Edit", edit_group_path(@group), class: "btn btn-secondary btn-block mt-3"%>
					<% end %>

					<% if @group.require_approval%>
					Closed Group
					<% else %>
					Public Group
					<% end %>
					<% if member?(@group) %>
						<% if group_admin?(@group) && @group.require_approval%>
							<div class="admin-actions">
								<%= link_to "Member Management", group_memberships_path(@group), class: "btn btn-block btn-info" %>
							</div>
						<% end %>
						<div class="follow-action">
							<%= render partial: "follows/follow", :locals => {:object => @group} %>		
						</div>
					<% end %>
					<% if user_signed_in? %>
					 	<%= get_join_button(@group) %>
					<% end %>			
				</div>
	
			</div>
		</div>
		<div class="col-lg-9">
			<% if member?(@group) %>
				<div id="timeline" class="tab-pane container active">
					<%= render partial: "posts/form" %>
					<div class="posts-index">
						<div id="posts-container">
							<%= render @posts %>
						</div>
						<nav id="page-nav">
							<%= link_to_next_page(@posts, 'Next Page', :remote => true) %>
						</nav>

						<div class="page-load-status text-center">
							<div class="loader-ellips">
								<span class="loader-ellips__dot"></span>
								<span class="loader-ellips__dot"></span>
								<span class="loader-ellips__dot"></span>
								<span class="loader-ellips__dot"></span>
							</div>
							<span class="infinite-scroll-request">
								Loading...  		
							</span>	
							<span class="infinite-scroll-last">
								No more pages to load.
							</span>		
						</div>					
					</div>	
				</div>
			<% else %>
				<div class="card">
					<div class="card-header">
				  		Activity
				  	</div>
				  	<div class="card-body">
				  		<div class="row">
					  		<div class="col-lg-6 text-center">
					  			<%= @group.posts.count %>
					  			Posts <%= fa_icon "comments" %>
					  		</div>
					  		<div class="col-lg-6 text-center">
					  			<%= @group.approved_members.count %>
					  			Members <%= fa_icon "users" %>
					  		</div>				  	
					  	</div>
					  	<div class="founder text-center">
					  		Created about <%= time_ago_in_words(@group.created_at) %> ago by <%= link_to @group.owner.username, @group.owner %> <%= fa_icon "bolt" %>
					  	</div>
				  	</div>
				</div>
			<% end %>
		</div>		
	</div>
</div>