<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id="sign-up-tab" data-toggle="tab" href="#sign-up" role="tab" aria-controls="sign-up" aria-selected="true">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="log-in-tab" data-toggle="tab" href="#log-in" role="tab" aria-controls="log-in" aria-selected="false">Sign In</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  show active" id="sign-up" role="tabpanel" aria-labelledby="sign-up-tab">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  :html => { id: "new-user"}) do |f| %>
     <div class="card-body">
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <div class="form-group">
              <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", id: "sign-up-username" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: "form-control", id: "sign-up-email" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "sign-up-password" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control", id: "sign-up-password-confirmation" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block mb-3" %>
            </div>

          </fieldset>        
        </div>
      </div>
    </div>
    <div class="card-footer text-muted"><%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-#{provider}" do %>
      <%= fa_icon provider %> Sign up with <%= "#{OmniAuth::Utils.camelize(provider)}" %>
      <% end %>
      <% end -%>
      <% end -%>                   </div>                  
      <% end %>  
    </div>
    <div class="tab-pane fade" id="log-in" role="tabpanel" aria-labelledby="log-in-tab">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { id: "sign-in" }) do |f| %>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 email-login">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
            <div class="form-group pull-left">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Sign in", class: "btn btn-block btn-primary mb-3" %>
            </div>    
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          </div>      
        </div>
      </div>   
      <div class="card-footer text-muted">
        <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-#{provider}" do %>
        <%= fa_icon provider %> Sign in with <%= "#{OmniAuth::Utils.camelize(provider)}" %>
        <% end %>
        <% end -%>
        <% end -%>    
      </div>              
      <% end %>   

    </div>      
  </div>
</div>    

