<div class="list-group-item">
    <div class="row">
        <div class="col-4">
            <%= link_to user do %>
                <%= image_tag user.avatar, class: "rounded img-fluid" %>
            <% end %>
        </div>

        <div class="col-8">
            <%= link_to user do %>
                <h5 class="mb-1"><%= user.username %></h5>
            <% end %>
            <div class="user-details ml-2">
                <span class="text-muted">Level <%= user.get_current_level %></span></br>
                <span class="text-muted"><%= pluralize(user.friends_count, 'Friend') %></span></br>
                <span class="text-muted"><%= pluralize(user.video_games_count, 'Shelved Game', 'Shelved Games') %></span></br>
                <span class="text-muted"><%= pluralize(user.points, 'Point', 'Points') %></span></br>
            </div>            
            
            <% if user_signed_in? && current_user != user %>
            <%= get_friendship_button(user) %>
            <% end %>            
        </div>

    </div>
</div>