<div class="container mt-5">
	<h1>Gamer's Leaderboard</h1>
	<%= paginate @users %>
	<div class="row">
		<div class="offset-lg-2 col-lg-8">
			<div class="list-group">
  				<%= render @users %>
			</div>
		</div>
	</div>
	<%= paginate @users %>	
</div>