<div class="cover-photo">
	<%= image_tag @user.cover_photo%>
	<% if user_signed_in? && @user == current_user %>
		<div class="dropdown" id="update-banner-actions">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Update Cover Photo
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				
				<%= form_for current_user, url: user_update_banner_path(current_user), method: :post, html: {class: "px-4 py-3" }  do |f| %>
					<div class="form-group">
						<%= f.label :cover_photo %>
						<%= f.file_field :cover_photo, class: "form-control" %>
					</div>

					<%= f.submit "Update Cover Photo", class: "btn btn-success" %>
				<% end %>
				<div class="dropdown-divider"></div>
				<%= link_to "Remove Cover Photo", user_remove_banner_path(current_user), class: "dropdown-item", method: :post %>

			</div>
		</div>
	<% end %>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="user-avatar mb-3 col-8 offset-2 col-lg-12 offset-lg-0">
				<div class="user-avatar-container">
					<%= image_tag @user.avatar %>
						<% if user_signed_in? && @user == current_user %>
							<div class="dropdown" id="update-avatar-actions">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Update Profile Picture
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

									<%= form_for current_user, url: user_update_avatar_path(current_user), method: :post, html: {class: "px-4 py-3" }  do |f| %>
										<div class="form-group">
											<%= f.label :avatar %>
											<%= f.file_field :avatar, class: "form-control" %>
										</div>

										<%= f.submit "Upload Profile Photo", class: "btn btn-success" %>
									<% end %>
									<div class="dropdown-divider"></div>
									<%= link_to "Remove Profile Photo", user_remove_avatar_path(current_user), method: :post, class: "dropdown-item" %>
								</div>	
							</div>
						<% end %>
				</div>
			</div>
			<div class="card user-info">
				<div class="card-body">
					<div id="username-container">
						<h1><%= @user.username %></h1>
						<% if user_signed_in? && @user == current_user %>
							<%= button_tag "Edit", type: 'button', id: "edit-username", class: "btn btn-secondary" %>
						<% end %>
					</div>
					<div id="username-form-edit">
	  					<%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
							<div class="form-group">
								<%= f.text_field :username, class: "form-control" %>
							</div>
							<%= f.submit "Change Username", class: "btn btn-primary btn-success btn-block" %>
						<% end %>
					</div>
					<div class="gamification">
						Level <%= @user.get_current_level %>						
						<div class="progress">
						  <div class="progress-bar bg-success" role="progressbar" style="width: <%= @user.get_percent_progress %>%" aria-valuenow="<%= @user.points %>" aria-valuemin="<%= @user.get_current_level_min %>" aria-valuemax="<%= @user.get_points_to_level_up %>"></div>
						</div>		
						<span class="small pull-right"><%= @user.get_points_to_level_up - @user.points %> points to level up</span>
					</div>

					<div class="my-4">
						<%= @user.my_story %>
					</div>
					<div>
						Joined: <%= @user.created_at.strftime("%B %d, %Y") %>
					</div>
					<% if user_signed_in? && @user != current_user %>
						<div class="friend-action">
							<%= get_friendship_button(@user) %>
						</div>
					<% end %>					
					<% if user_signed_in? && current_user != @user %>
						<div class="follow-action">
							<%= render partial: "follows/follow", :locals => {:object => @user} %>		
						</div>
					<% end %>
					<div>
						<% if @user.favorite_game %>
							Favorite Game: <%= link_to @user.favorite_game.name, @user.favorite_game %>
						<% else %>
							Favorite Game: <%= link_to "Pick One", video_games_path %>
						<% end %>
					</div>
					<div>
						<%= @user.points %> GPP (Gamers Paradise Points)
					</div>
					<hr>
					<div class="row stats mt-4">
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'compass' %>
							<h4><%= link_to "Followed", follows_path(user_id: @user.id)%></h4>
							<span class="text-muted"><%= pluralize(@user.follows.count, "object") %> </span>
						</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'star' %>
							<h4><%= link_to "Rated", ratings_path(user_id: @user.id) %></h4>
							<span class="text-muted"><%= @user.rated_games.count %> games</span>
						</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'pencil-square-o' %>
							<h4><%= link_to "Reviewed", member_reviews_path(user_id: @user.id) %></h4>
							<span class="text-muted"><%= @user.reviewed_games.count %> games</span>
						</div>	  								  							
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'calendar' %>	  							
							<h4><%= link_to "Will Play", [@user, @user.will_play_shelf] %></h4>
							<span class="text-muted"><%= @user.planned_games.count %> games</span>
						</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'gamepad' %>	  							
							<h4><%= link_to "Playing", [@user, @user.playing_shelf] %></h4>
							<span class="text-muted"><%= @user.playing_games.count %> games</span>
						</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'check' %>	  							
							<h4><%= link_to "Played", [@user, @user.played_shelf] %></h4>
							<span class="text-muted"><%= @user.played_games.count %> games</span>
	  					</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'database' %>	  							
							<h4><%= link_to "Contributions", contributions_path(user_id: @user.id) %></h4>
							<span class="text-muted"><%= @user.contributions.count %> contributions</span>
						</div>
						<div class="col-4 text-center mb-3">
							<%= fa_icon 'table' %>	  							
							<h4><%= link_to "Breakdown", breakdown_contribution_path(id: @user.id) %></h4>
							<span class="text-muted"><%= @user.contributions.count %> contributions</span>
	  					</div>	  						
	  					<div class="col-4 text-center mb-3">
							<%= fa_icon 'hand-spock-o' %>	  							
							<h4><%= link_to "Followed By", followers_follow_path(id: @user.id) %></h4>
							<span class="text-muted"><%= pluralize(@user.followers.count, "follower") %> </span>
						</div>
	  				</div>						
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<ul class="nav nav-tabs nav-fill d-none d-lg-flex">
				<li class="nav-item"><a data-toggle="tab" href="#timeline" class="nav-link active">Timeline</a></li>
			 	<li class="nav-item"><a data-toggle="tab" href="#lists" class="nav-link">Library</a></li>
				<li class="nav-item"><a data-toggle="tab" href="#recommendations" class="nav-link">Personalized Recommendations</a></li>
			</ul>				
			<div class="tab-content">
	  			<div id="timeline" class="tab-pane container active">
	  				<% if user_signed_in? %>
	  					<%= render partial: "posts/form" %>
	  				<% end %>

	  				<div class="posts-index">
	  					<%= render @posts %>
	  				</div>

	  			</div>
	  			<div id="lists" class="tab-pane container">
	  				<div class="card custom-shelves-list">
	  					<div class="card-header">
	  						<%= @user.username %>’s library
	  					</div>
	  					<div class="card-body">  						
	  						<% @user.shelves.each do |shelf| %>
	  							<%= link_to [@user, shelf] do %>
									<div class="media">
										<%= image_tag shelf.video_games.sample.box_art, size: "64", class: "mr-3 mb-3" if shelf.video_games.any? %>
										<div class="media-body">
											<h5 class="mt-0"><%= shelf.name %></h5>
											<span class="text-muted"><%= pluralize(shelf.video_games.count, "game") %></span>
										</div>
									</div>				
								<% end %>  						
	  						<% end %>
	  					</div>
	  				</div>		  						
	  			</div>
	  			<div id="reviews" class="tab-pane container">
					<ul class="list-group">
		  				<% @user.ratings.each do |rating| %>
		  					<% if rating.rateable %>
		  					<li class="list-group-item"><%=link_to  "#{rating.rateable.name} : #{rating.score} out of 10", rating.rateable %></li>
		  					<% end %>
		  				<% end %> 
					</ul>	
				</div>	  												
	  			<div id="recommendations" class="tab-pane container">
					<%= render partial: 'pinterest/video_game_grid', locals: {video_games:  @video_game_recommendations} %>
				</div>									
			</div>
		</div>		
	</div>
</div>