<div class="card community-answer mb-3" id="<%= "answer-#{answer.id}" %>">
	<div class="card-header">
		<%= link_to answer.user.username, answer.user if answer.user %>
		<span class="float-right" ><%= answer.created_at.strftime("%B %d, %Y %I:%M%p") %></span>
	</div>
	<div class="card-body">
		<div class="answerer-user-icon">
			<%= image_tag answer.user.avatar, size: "50", class: "avatar float-left mr-3" if answer.user %>
		</div>
		<span class="community-answer-text"><%= answer.answer %></span>			

		<% if user_signed_in? &&  current_user == answer.user %>
			<div class="pull-right admin-actions">
				<div class="btn-group">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= fa_icon "ellipsis-h" %>
				</button>
				<div class="dropdown-menu">
					<%= link_to "Edit", edit_question_answer_path(answer.question, answer), class: "dropdown-item" %>
				</div>
				</div>			
			</div>	
		<% end %>
	</div>
	<div class="card-actions text-muted ml-3">
		<ul class="list-inline">
			<li class="list-inline-item"><%= pluralize(answer.likes.count, 'like') %></li>
			<li class="list-inline-item"><%= render partial: "likes/button", locals: {likeable: answer} %></li>
			<li class="list-inline-item"><%= time_ago_in_words answer.created_at %></li>
		</ul>
	</div>

	<div class="community-answer-footer">
		<%= render partial: "comments/comments", locals: {comments: answer.comments.order(created_at: :desc), commentable: answer} %>
	</div>
</div>