<div class="my-3">
<%= form_for [question, answer] do |f| %>
  	<div class="form-group">
		<%= f.text_area :answer, placeholder: "Answer this question", class: "form-control" %>
	</div>
	<%= f.submit "Submit Answer", class: "btn btn-primary" %>
<% end %>
</div>