<div class="container mt-5">
	<%= render partial: 'form', locals: {question: @question, answer: @answer} %>
	<%= link_to 'Destroy Answer',  question_answer_path(@question, @answer), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger pull-right" %>
</div>