<%= form_for @game_mode do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<%= f.submit "Add Game Mode", class: "btn btn-primary" %>
<% end %>