<div class="container mt-5">
	<h1>Video Game Modes</h1>
	<%= link_to "Add Game Mode", new_game_mode_path, class: "btn btn-success mb-4" %>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	    </tr>
	  </thead>
	  <tbody>
		<%= render @game_modes %>
	  </tbody>
	</table>
</div>