$('#flash-messages-container').append("<%= j render partial: "layouts/flash_messages", locals: {flash: @messages} %>");

var form = $('#rating-' + '<%= @rating.rateable.id %>');

form.parents('.video-game-rating').html("<%= j render partial: 'ratings/form', locals: {rateable: @rating.rateable} %>");
initializeRating();

var form = $('#rating-' + '<%= @rating.rateable.id %>');
form.parents('.card').find('.average-rating').html("<%= @rating.rateable.average_rating %>");

if ((typeof chartConfig != 'undefined') && (typeof ratingChart != 'undefined'))
{
	var container = $('.member-ratings');

	var maxRating = 100;
	var currRating = <%= 100 * get_user_rating(@rating.rateable).round(2) %>;
	//data
	var pieData = [currRating, maxRating - currRating];

	chartConfig.data.datasets[0].data = pieData;

	var ratingMessage = "Based on <%= (@rating.rateable.ratings.count + @rating.rateable.member_reviews.count)%> member ratings";

	// Update the rotating chart
	ratingChart.update(chartConfig);

	container.find('.rating-percent').html("<%= 100 * get_user_rating(@rating.rateable).round(2) %>%");
	container.find('.ratings-count').html(ratingMessage);

}	

