<div class="video-game-rating">
	<%= form_for getRatingObject(rateable), authenticity_token: true, html: {"data-rateable-name" => rateable.name, id: "rating-#{rateable.id}"}, remote: true do |f| %>
		<%= f.hidden_field :rateable_id, value: rateable.id%>
		<%= f.hidden_field :rateable_type, value: rateable.class.name %>
		<%= f.select :score, ['',1, 2, 3, 4, 5, 6, 7, 8, 9, 10], {}, data: {starting_value: rateable.average_rating / 10}  %>
	<% end %>

	<% if user_signed_in? && (rating = rateable.ratings.select{|rating| (ratingrateable = rateable) && (rating.user == current_user)}.first) && !rating.destroyed? %>
		<%= link_to "Remove Rating", rating_path(rating), method: :delete, class: "btn btn-secondary btn-block", remote: true %>
	<% end %>


	<p class="ratings-count">Based on <%= link_to (rateable.ratings_count + rateable.member_reviews_count), "#ratings-user-modal-#{rateable.id}", data: {toggle:"modal", target:"#ratings-user-modal-#{rateable.id}"} %> member ratings</p>

	<div class="modal" tabindex="-1" role="dialog" id="ratings-user-modal-<%= rateable.id %>">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-header">
					<h5 class="modal-title">Ratings</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<%= render partial: 'users/user', collection: (rateable.rating_users + rateable.reviewing_members).uniq , as: :user %>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
