<% if rating.rateable %>
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-2">
					<% if rating.rateable.box_art %>
						<%= image_tag rating.rateable.box_art, class: "img-fluid" %>
					<% end %>
				</div>
				<div class="col-lg-10">
					<h4>
						<%= link_to rating.rateable.name, rating.rateable %>
						<small class="pull-right"><%= rating.score.to_i / 10.0 * 100.0 %> out of 100</small>
					</h4>
				</div>
			</div>
		</div>
	</div>
<% end %>