<div class="container">

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item active"><a data-toggle="tab" class="nav-link active" href="#friends">Friends</a></li>
    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#pending-friends">Pending Friends</a></li>
    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#friend-requests">Friend Requests</a></li>
  </ul>
  <div class="tab-content">
    <div id="friends" class="tab-pane fade active show">
      <div class="list-group">
        <%= render @friends %>        
      </div>
    </div>
    <div id="pending-friends" class="tab-pane fade">
      <div class="list-group">
        <%= render @pending_friends %>    
      </div>
    </div>

    <div id="friend-requests" class="tab-pane fade">
      <div class="list-group">
        <%= render @friend_requests %>
      </div>
    </div>
  </div>
</div>