<div class="container">
	<%= form_for @page do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :rss_url %>
			<%= f.text_field :rss_url,  class: "form-control" %>
		</div>

		<div class="form-group">
			<%= image_tag @page.banner, class: "img-fluid" %><br>
			<%= f.label :banner %>
			<%= f.file_field :banner,  class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :delete_banner %>
			<%= f.check_box :delete_banner,  class: "form-control" %>
		</div>	

		<div class="form-group">
			<%= image_tag @page.avatar, class: "img-fluid" %><br>
			<%= f.label :avatar %>
			<%= f.file_field :avatar,  class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :delete_avatar %>
			<%= f.check_box :delete_avatar,  class: "form-control" %>
		</div>		

		<%= f.submit class: "btn btn-primary" %>
	
	<% end %>
</div>