<div class="col-md-3">
	<%= link_to page, class: "card" do %>
	<%= image_tag page.avatar, class: "card-img-top" %>
		<div class="thumbnail">
			<div class="caption">
				<h3><%= page.name %></h3>
			</div>
		</div>
	<% end %>
</div>
