<div class="container" >
	<div class="row">
		<div class="col-lg-3">
			<h1><%= @page.name %></h1>
			<%= image_tag @page.avatar, class: "img-fluid mb-3" %>
			<% if user_signed_in? && current_user == @page.owner %>
				<%= link_to "Edit", edit_page_path(@page) %>	
			<% end %>
			<%= render partial: "follows/follow", :locals => {:object => @page} %>		
		</div>
		<div class="col-lg-9">
			<%= image_tag @page.banner, class: "img-fluid" %>
			<% if user_signed_in? %>		
					<%= render partial: "posts/form" %>
			<% end %>

			<div class="posts-index">
				<div id="posts-container">
					<%= render @posts %>
				</div>
				<nav id="page-nav">
					<%= link_to_next_page(@posts, 'Next Page', :remote => true) %>
				</nav>

				<div class="page-load-status text-center">
					<div class="loader-ellips">
						<span class="loader-ellips__dot"></span>
						<span class="loader-ellips__dot"></span>
						<span class="loader-ellips__dot"></span>
						<span class="loader-ellips__dot"></span>
					</div>
					<span class="infinite-scroll-request">
						Loading...  		
					</span>	
					<span class="infinite-scroll-last">
						No more pages to load.
					</span>		
				</div>					
			</div>				
		</div>
	</div>
</div>