<div class="container mt-5">
 	<h1><%= current_user.username %>'s Referrals</h1>
	<p> Share this personalized code with your friends, on facebook, twitch, youtube, etc. If your friend signs up, you AND your friend will gain <%= Referral.new.get_points %> points. Successful referrals are the quickest way to reach the top of the leaderboard.</p>


	<div class="form-tag">
		<%= label_tag :referral_link, "Your invite code" %>
		<%= text_field_tag :referral_link, new_user_registration_url(referrer: current_user.referral_token) ,:readonly => true, class: "form-control" %>
	</div>
	<div class="share-actions mt-3">
		<%= button_tag "Copy Code", class: "btn btn-secondary", id: "copy-referral-code" %>
		or 
		<%= render partial: "social_sharing_buttons/buttons", locals: {url: new_user_registration_url(referrer: current_user.referral_token) , description: "Sign Up with #{new_user_registration_url(referrer: current_user.referral_token) } and Receive #{Referral.new.get_points } Points", via: "Gamer's Paradise", title: "Sign Up with #{new_user_registration_url(referrer: current_user.referral_token) } and Receive #{Referral.new.get_points } Points"} %>

	</div>
	

	<div class="referred-users mt-4">
		<h2>Succesful Referrals</h2>
		<p>Total Points: <%= current_user.referrals.sum(&:points) %></p>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Date Joined</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				<% current_user.referrals.each do |referral| %>
					<tr>
						<td><%= referral.referee.username %></td>
						<td><%= referral.referee.created_at %></td>
						<td><%= referral.points %></td>
					</tr>				
				<% end %>
			</tbody>
		</table>
	</div>
</div>