.bs-example td {
	span {
		padding: 5px;
	}
	div.btn-group {
		form button {
				margin: 0;
				padding: 0;
				border: 1px solid black;
				border-radius: 2px;
			&:hover{
				background-color: darken(white, 10%);

			}
		}
	}
}

body.admin-drafts.show
{
	.row.modified {
		background-color: orange;
	}
}