// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.admin-users.index {
	table {
		table-layout: fixed;
		td {
			word-break: break-all;
		}
	}
}