
<%= form_for @company do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :website %>
		<%= f.url_field :website, class: "form-control" %>		
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control" %>
	</div>

	<%= f.submit "Add Company", class: "btn btn-primary" %>

<% end %>