<div class="container mt-5">
	<h1>Video Game Companies</h1>
	<%= link_to "New Company", new_company_path, class: "btn btn-success mb-3" %>
	
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Website</th>
	    </tr>
	  </thead>
	  <tbody>
		<%= render @companies.order('name ASC') %>
	  </tbody>
	</table>
</div>