<% @breakdown.each do |category| %>   
<h4><%= category.contributable_type.titlecase %></h4>
  <div class="row">
    <% @user.contributions.where(contributable_type: category.contributable_type).select("field, sum(points) as points").group(:field).to_a.each do |contribution| %>
    <!-- I need to group now on new fields -->
      <div class="col-lg-4">
        <small><%= "#{contribution.field.titlecase}" %>: <%= "#{contribution.points}"  %> </small>
      </div>
    <% end %>
  </div>
<% end %>