<tr>
	<td><%= contribution.contributable_type %></td>
	<td><%=link_to contribution.contributable.name, contribution.contributable if contribution.contributable%> </td>
	<td><%= contribution.field %></td>
	<td><%= contribution.created_at.strftime("%B %e, %Y") %></td>
	<td><%= contribution.points %></td>
</tr>
