<table class="table" data-toggle="table" data-search="true" data-pagination="true">
  <thead>
    <tr>
      <th data-sortable="true" scope="col">Contributable Type</th>  
      <th data-sortable="true" scope="col">Name</th>                
      <th data-sortable="true" scope="col">Field</th>
      <th data-sortable="true" scope="col">Date</th>
      <th data-sortable="true" scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
  	<%= render @contributions %>
  </tbody>
</table>

