<div class="container">
	<%= form_for [@video_game, CriticReview.new] do |f| %>
		<div class="form-group">
			<%= f.label :rating %>
			<%= f.number_field :rating, class: "form-control"   %>
		</div>

		<div class="form-group">
			<%= f.label "URL" %>
			<%= f.text_field :url, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :summary %>
			<%= f.text_field :summary, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :company %>
			<%= f.collection_select :company_id, Company.all, :id, :name,  include_blank: true, class: "form-control" %>
		</div>
		<%= f.submit "Submit", class: "btn btn-primary btn-block" %>
	<% end %>
</div>
