<%= form_for @wiki, remote: true do |f| %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="form-group">
		<%= f.label :video_game_ids, "Associated Games" %>
		<%= f.collection_select :video_game_ids, @wiki.video_games, :id, :name, {}, {class: "form-control", multiple: true} %>	
    </div>

    <div class="form-group">
    	<% if @wiki.wiki_logo.file %>
    		<%= image_tag @wiki.wiki_logo, size: "160" %>
    	<% end %>
    	<%= f.label :wiki_logo %>
    	<%= f.file_field :wiki_logo, class: "form-control" %>
    </div>

	<%= f.submit class: "btn btn-success" %>
<% end %>