<div class="col-lg-4 mb-3">
	<%= link_to wiki do %>
		<div class="card">
			<%= image_tag wiki.wiki_logo, class: "card-img-top" %>
			<div class="card-footer">
				<p class="pull-left"><%= wiki.name %></p>
				<!-- If admin or ownert -->
				<% if (user_signed_in? && (wiki.user == current_user || current_user.has_role?(:admin) )) %>
					<%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-secondary pull-right" %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
