<div class="container mt-5">
	<%= render "form" %>
	<% if user_signed_in? && (current_user.has_role?(:admin) || current_user == @wiki.user) %>
		<%= link_to "Delete", wiki_path(@wiki), method: :delete, class: "btn btn-danger"%>
	<% end %>
</div>