<div class="container mt-5">
	<h1>Video Game Player Perspectives</h1>
	<%= link_to "New Player Perspective", new_player_perspective_path, class: "btn btn-success mb-3" %>
	
	<table class="table">
  		<thead>
    		<tr>
      			<th scope="col">Name</th>
    		</tr>
  		</thead>
  		<tbody>
			<%= render @player_perspectives %>    
  		</tbody>
	</table>
</div>