<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-3">
				<div class="card-body">
					<h1><%= @player_perspective.name %></h1>
					<p><%= @player_perspective.description %></p>
				</div>					
			</div>
		</div>
	</div>
	<%= render partial: 'pinterest/video_game_grid', locals: {video_games: @video_games} %>
</div>