<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="text-center">Log in</h1>
    <div class="row">
      <div class="col-lg-5 social-login">
        <h4 class="text-muted text-center">Login with</h4>
        <div class="social-login-buttons">     
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-#{provider}" do %>
              <%= fa_icon provider %> Log in with <%= "#{OmniAuth::Utils.camelize(provider)}" %>
              <% end %>
            <% end -%>
          <% end -%>        
        </div>
      </div>
      <div class="col-lg-2 text-center or">
        <br/>
        <br/>
        <h4 class="text-muted text-center">or</h4>         
      </div>
      <div class="col-lg-5 email-login">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-block btn-primary mb-3" %>
        </div>        
        <%= render "devise/shared/links" %>        
      </div>      
    </div>
  <% end %>

</div>