<div class="container mt-5">	
	<h1>Video Game Franchises</h1>
	<%= link_to "New Franchise", new_franchise_path, class: "btn btn-success mb-3" %>

	<table class="table">
  		<thead>
    		<tr>
      			<th scope="col">Name</th>
    		</tr>
  		</thead>
  		<tbody>
			<%= render @franchises %>
  		</tbody>
	</table>
</div>