<div class="container mt-5">
	<div class="row">
		<div class="col-lg-12">
			<div class="card mb-3">
				<div class="card-body">
					<h1><%= @franchise.name %> Franchise</h1>
					<p><%= @franchise.description %></p>						
				</div>					
			</div>
		</div>
	</div>	
	<%= render partial: 'pinterest/video_game_grid', locals: {video_games: @video_games} %>
</div>