<% if user_signed_in? %>
	<div class="follow-action">
		<% unless (follow = current_user.follows.where(followable: object).first) %>
			<%= button_to "Follow", follows_path, class: 'btn btn-secondary btn-block', params: {follower_id: current_user.id, follower_type: current_user.class.name , followable_id: object.id, followable_type: object.class.name}  %>
		<% else %>
			<div class="dropdown">
			  <button class="btn btn-block btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <%= fa_icon "check" %> Following
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<%= button_to "Unfollow", { controller: :follows, action: :destroy, id: follow.id }, class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure?' } %>
			  </div>
			</div>
		<% end %>
		Followers: <%= link_to ( object.followers.count), "#followers-user-modal-#{object.id}", data: {toggle:"modal", target: "#followers-user-modal-#{object.id}"} %>

		<div class="modal" tabindex="-1" role="dialog" id="followers-user-modal-<%= object.id %>">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
					<div class="modal-header">
						<h5 class="modal-title">Followers</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<%= render object.followers %>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>		
	</div>
<% end %>