<div class="container mt-5">
	<h1>Things <%= @user.username %> Follows</h1>
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-games-tab" data-toggle="tab" href="#nav-games" role="tab" aria-controls="nav-games" aria-selected="true">Games</a>
	    <a class="nav-item nav-link" id="nav-pages-tab" data-toggle="tab" href="#nav-pages" role="tab" aria-controls="nav-pages" aria-selected="false">Pages</a>
	    <a class="nav-item nav-link" id="nav-groups-tab" data-toggle="tab" href="#nav-groups" role="tab" aria-controls="nav-groups" aria-selected="false">Groups</a>	    
	    <a class="nav-item nav-link" id="nav-people-tab" data-toggle="tab" href="#nav-people" role="tab" aria-controls="nav-people" aria-selected="false">People</a>
	  </div>
	</nav>
	<div class="tab-content mt-3" id="nav-tabContent">
	  <div class="tab-pane fade show active" id="nav-games" role="tabpanel" aria-labelledby="nav-games-tab">
	  		<%= render partial: 'pinterest/video_game_grid', locals: {video_games: (@user.followed_video_games.page params[:page] )} %>	  		
	  </div>
	  <div class="tab-pane fade" id="nav-pages" role="tabpanel" aria-labelledby="nav-pages-tab">
	  		<div class="row">
	  			<%= render @user.followed_pages %>
	  		</div>
	  </div>
	  <div class="tab-pane fade" id="nav-groups" role="tabpanel" aria-labelledby="nav-groups-tab">
	  	<div class="row">
			<%= render @user.followed_groups %>
		</div>
	  </div>
	  <div class="tab-pane fade" id="nav-people" role="tabpanel" aria-labelledby="nav-people-tab">
		<div class="offset-lg-2 col-lg-8">
			<div class="list-group">
				<%= render @user.followed_users %>
			</div>
		</div>	  		
	  </div>
	</div>
</div>