<% post = @post_to_edit %>
<div class="post-new-form clearfix">
	<div class="post-user-avatar">
		<%= image_tag current_user.avatar %>
	</div>
	<%= form_for post, remote: true do |f| %>
		<%= f.hidden_field :owner_id  %>
		<%= f.hidden_field :owner_type  %>
		<%= f.hidden_field :wall_id %>
		<%= f.hidden_field :wall_type %>

		<% if post.attachments.any? %>
			<% attachments = post.attachments.to_json %>
			<div class="attachments" data-attachments='<%= attachments %>'>
			</div>
		<% end %>

		<div class="post-input-area mb-3 ">
			<div class="tinymce">		
				<%= sanitize(post.content) %>
			</div>
			
			<div class="dropzone-previews">

				<div class="template file-row mr-3 mb-3">
	    			<div>
	        			<span class="preview"><img data-dz-thumbnail class="img-fluid" /></span>
	    			</div>
		    		<div>
		        		<strong class="error text-danger" data-dz-errormessage ></strong>
		    		</div>
		    		<div>
		        		<div class="progress progress-striped active mt-2" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
		          			<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress>
		          			</div>
		        		</div>
		    		</div>
		    		<div class="actions">
		    			<button class="remove-attachement" type="button" title="Remove photo"  data-dz-remove><%= fa_icon 'trash'%></button>
		    			<div class="overlay"></div>
		    		</div>
	  			</div>
			</div>
		</div>
		
		<div class="dZUpload">
			<div class="add-files btn btn-light">
				<%= fa_icon "picture-o" %> Photo / Video
			</div>
			<%= render "gifs/button" %>
			<div class="dz-default dz-message"></div>
		</div>

		<%= f.submit "Post", class:"btn btn-success pull-right" %>
		<%= tinymce menubar: false, inline: true, theme: 'inlite', insert_toolbar: 'undo redo', selection_toolbar: 'italic underline',selector: '.tinymce', height: "480" %>
		
	<% end %>

</div>