<div class="row">
	<% posts.each do |post| %>
	<div class="col-lg-4">
		<div class="post">
			<div class="post-owner">
				<%= link_to get_owner_name(post.owner), post.owner %>
			</div>
			<div class="post-title">
				<h4><%= link_to(post.title, post.external_link) if post.title %></h4>
				<% if post.author %>
				<p>By: <%= post.author %></p>
				<% end %>
				<% if post.date_published %>
				<p><%= time_ago_in_words post.date_published %></p>
				<% end %>		
			</div>
			<div class="attachments">
				<div id="carouselExampleControls-<%= post.id %>" class="carousel slide" data-ride="carousel">
					<% if post.attachments.count > 1 %>
					<ol class="carousel-indicators">
						<% post.attachments.each_with_index do |attachment, index| %>
						<li data-target="carouselExampleControls-<%= post.id %>>" data-slide-to="<%= index %>>" class="<%= "active" if 0 == index %>"></li>
						<% end %>			
					</ol>
					<% end %>

					<div class="carousel-inner">
						<% post.attachments.each_with_index do |attachment, index| %>
						<div class="carousel-item <%= "active" if 0 == index %>">
							<%= link_to(image_tag(attachment.file), post.external_link) if post.external_link and attachment.file %>
							<%= image_tag(attachment.file) unless post.external_link and attachment.file %>
							<% if attachment.youtube_id %>
							<iframe width="420" height="315" src="https://www.youtube.com/embed/<%= attachment.youtube_id%>"></iframe>
							<% end %>					
						</div>
						<% end %>
					</div>
					<% if post.attachments.count > 1 %>
					<a class="carousel-control-prev" href="#carouselExampleControls-<%= post.id %>" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls-<%= post.id %>" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					<% end %>
				</div>
			</div>	
			<%= render "comments/comments", comments: post.comments, commentable: post %>
		</div>








	</div>
	<% end %>
</div>