<div class="post" id="post-<%= post.id%>">
	<div class="post-body clearfix">
		<div class="post-owner">
			<%= image_tag post.owner.avatar, size: "50", class: "rounded-circle" %>
			<%= link_to get_owner_name(post.owner), post.owner %>
			<% if post.wall_type == "User" %>
				<span><%= fa_icon "caret-right" %> <%= link_to post.wall.username, post.wall %></span>
			<% elsif post.wall_type != "User" %>
				<span><%= fa_icon "caret-right" %> <%= link_to post.wall.name, post.wall %></span>	
			<% end %>
			<div class="post-time-ago float-right text-muted">
				Created <%= time_ago_in_words post.created_at %> ago			
			</div>						
		</div>
		<% if post.title %>
			<div class="post-title">
				<h4><%= link_to(post.title, post.external_link, target: :__blank) if post.title %></h4>
				<% if post.author %>
					<p>By: <%= post.author %></p>
				<% end %>	
			</div>
		<% end %>	
		<div class="post-attachments">
			<div id="carouselExampleControls-<%= post.id %>" class="carousel slide" data-ride="carousel" data-interval="false">
				<% if post.attachments.length > 1 %>
					<ol class="carousel-indicators">
						<% post.attachments.each_with_index do |attachment, index| %>
							<li data-target="carouselExampleControls-<%= post.id %>>" data-slide-to="<%= index %>>" class="<%= "active" if 0 == index %>"></li>
						<% end %>			
					</ol>
				<% end %>

			  <div class="carousel-inner">
				<% post.attachments.each_with_index do |attachment, index| %>
					<div class="carousel-item <%= "active" if 0 == index %>">
						<%= link_to(image_tag(attachment.file), post.external_link, target: :__blank) if post.external_link and attachment.file %>
						<%= image_tag(attachment.file) unless post.external_link and attachment.file %>
						<% if attachment.youtube_id %>
							<iframe width="420" height="315" src="https://www.youtube.com/embed/<%= attachment.youtube_id%>"></iframe>
						<% end %>					
					</div>
				<% end %>
			  </div>
			  <% if post.attachments.length > 1 %>
				  <a class="carousel-control-prev" href="#carouselExampleControls-<%= post.id %>" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleControls-<%= post.id %>" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
			  <% end %>
			</div>
		</div>	
		<% if user_signed_in? && ((current_user == post.owner) || (current_user == post.wall) || (defined? @group && @group.admins.include?(current_user))) %>
			<div class="pull-right admin-actions">
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= fa_icon "ellipsis-h" %>
					</button>
					<div class="dropdown-menu">
						<% if current_user == post.owner %>
							<%= link_to "Edit", edit_post_url(post), class: "dropdown-item", remote: true %>					
						<% end %>	
						<% if (current_user == post.wall) || (current_user == post.owner) || (defined? @group && @group.admins.include?(current_user)) %>
							<%= link_to 'Destroy',  post_path(post), data: { confirm: 'Are you sure?' }, method: :delete, class: "dropdown-item", remote: true %>
						<% end %>							
					</div>
				</div>			
			</div>	
		<% end %>	
		<div class="post-content">
			<%= sanitize(post.content)%>		
		</div>	
	</div>
	<%= render "comments/comments", comments: post.comments.order(created_at: :desc), commentable: post %>
</div>








