// @post and @post_to_edit
var createdPost = "<%= j render partial:'posts/post', locals: {post: @post} %>";
var newPost = "<%= j render partial: 'posts/form' %>";


$('.post-new-form').replaceWith(newPost);

tinymce.remove();

//<![CDATA[
TinyMCERails.initialize('default', {
  menubar: false,
  inline: true,
  theme: "inlite",
  insert_toolbar: "undo redo",
  selection_toolbar: "italic underline",
  selector: ".tinymce",
  height: "480"
});
//]]>


$('.posts-index').prepend(createdPost);

initializePostDropzone($('.post-new-form'));