<div class="container mt-5">
	<div class="post-new-form">
		<%= render partial: "form", locals: {post: @post, owner_id: @post.owner_id, owner_type: @post.owner_type, wall_id: @post.wall_id, wall_type: @post.wall_type} %>	
	</div>

	<%= link_to 'Destroy',  post_path(@post), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger pull-right" %>
</div>