var post = $('#post-<%= @post_to_edit.id%>');

post.html("<%= j render partial: "posts/form" %>");

tinymce.remove();

//<![CDATA[
TinyMCERails.initialize('default', {
  menubar: false,
  inline: true,
  theme: "inlite",
  insert_toolbar: "undo redo",
  selection_toolbar: "italic underline",
  selector: ".tinymce",
  height: "480"
});
//]]>



initializePostDropzone(post);
