<%= link_to blog_path(post), class: "text-center" do %>
	<div>
		<%= post.title %>		
		<div class="small"><%= post.blog_category.name %></div>		
	</div>
	<%= image_tag post.featured_image, class: "featured-image" %>
<% end %>