<%= link_to blog_path(post), class: "col-12 col-lg-4 mb-3" do %>
	<div class="card text-center" >
		<%= image_tag post.featured_image, class: "card-img-top" %>
		<div class="card-footer">
			<div class="small"><%= post.blog_category.name %></div>
			<%= post.title %>
		</div>
	</div>
<% end %>