<div class="mt-5">
  <div class="container">
    <h1>Gamer's Paradise Blog</h1>  
  </div>
  <div class="blog-navigation-container pt-1">
    <div class="container">
      <nav class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Most Recent", blog_index_path(most_recent: true), class: "nav-link #{"active" if(params[:most_recent] || (!params[:popular] && !params[:category_id]))}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Popular", blog_index_path(popular: true), class: "nav-link #{"active" if params[:popular] }" %>
        </li>
        <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, blog_index_path(category_id: category.id), class: "nav-link #{"active" if category.id.to_s == params[:category_id] }" %>
          </li>
        <% end %>
      </nav>      
    </div>
  </div>
</div>
<div class="container">
	<div class="row mt-5">
		<%= render partial: "blog/post", collection: @blog_posts %>  
	</div>
</div>