<div class="container mt-5">
	<div class="text-center mb-3">
		<h1><%= title @blog_post.title %></h1>
		<div class="small"><%= link_to @blog_post.blog_category.name, blog_index_path(category_id: @blog_post.blog_category.id) %></div>
		<div>
			<%= link_to @blog_post.author do %>
				<span id="blog-post-created-at"><%= image_tag @blog_post.author.avatar, size: "36",  class: "rounded-circle" %> <%= @blog_post.author.username %> 	<% end %>| <%= @blog_post.created_at.strftime("%B %d, %Y %I:%M%p")%></span>
		</div>		
		<div class="d-inline-block ml-2"><%= render partial: "likes/button", locals: {likeable: @blog_post} %></div>
	</div>
	<%= image_tag @blog_post.featured_image, id: "blog-post-featured-image" %>
	<div id="blog-post-content" class="col-12 offset-0 col-lg-8 offset-lg-2">
		<%= @blog_post.content.html_safe %>
	</div>
	
	<div class="author-container my-3">
		<div class="row">
			<div class="author-avatar-container col-1">
				<%= link_to @blog_post.author do %>
					<span id="blog-post-created-at"><%= image_tag @blog_post.author.avatar, size: "80",  class: "rounded-circle" %></span> 
				<% end %>			
			</div>

			<div class="author-info col-11">
				<span class="font-weight-bold"><%= link_to @blog_post.author.username, @blog_post.author %></span>
				<p><%= @blog_post.author.my_story %></p>
			</div>			
		</div>
	</div>

	<h2>Comments</h2>
	<%= render "comments/comments", comments: @blog_post.comments.order(created_at: :desc), commentable: @blog_post %>

</div>