/*// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "font-awesome";
@import "fontawesome-stars-o";
@import "variables";
@import "bootstrap";
@import "drafts";
@import "admin/video_games";
@import "videogames";
@import "home";
@import "footer";
@import "twitch";
@import "comments";
@import "feed";
@import "users";
@import "posts";
@import "overrides";
@import "member_reviews";
@import "ratings";
@import "select2";
@import "slick.scss";
@import "slick-theme.scss";
@import "shelves";
@import "questions";
@import "answers";
@import "topics";
@import "topic_comments";
@import "lists";
@import "social-buttons";
@import "pages";
@import "groups";
@import "devise";
@import "navbar";
@import "friendships";
@import "likes";
@import "notifications";
@import "animate";
@import "dropzone/dropzone";
@import "gifs";
@import "bootstrap-table";
@import "pinterest";
@import "flickity.min";
@import "referrals";
@import "contributions";
@import "companies";
@import "social-sharing-buttons";
@import "blog";

// Admin Imports
@import "admin/users";

body {
	background-color: #FAFAFA!important;
}

nav {
	ul.pagination {
		.current, .gap {
			pointer-events: none;
  			cursor: default;
  			text-decoration:none;
		}
		.gap a {
			color: black;
		}
	}
}

#points-floater-container {
	position: fixed;
  	bottom: 0;
  	z-index: 1021;
  	pointer-events: none;

	@include media-breakpoint-up(xs) {  
		right: 0;
		left: 0;
  		width: 100%; 
	}
	
	@include media-breakpoint-up(lg) {
		left: inherit; 	
		right: 10%;
		width: 250px; 
	}
	
	#reward-notifications-sidebar {
	    width: 25vw;
	    @include media-breakpoint-down(md) {  
			width: 75vw;
		}	
	    position: fixed;
	    top: 0;
		bottom: 0;	    
	    right: 0;
	    overflow-x: hidden;
	    pointer-events:none;
	}

	#sidebar-content {
	    width: 25vw;
	    @include media-breakpoint-down(md) {  
			width: 75vw;
		}		    
	    position: fixed;
	    top: 0;
		bottom: 0;
	    right: -1000px;
	    overflow-x: hidden;
	    transition: 1s;
	    padding-top: 60px;
    	background: #F2F3F5;
  		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		pointer-events: auto;

		.close-sidebar {
			top: 10px;
			left: 10px;
			position: absolute;
			font-size: 1.5rem;
			&:hover {
				color: gray;
				cursor: pointer;
			}
		}

	}


	.gamification, .notification, .gamification-toggle {
		padding: 10px;
		border-radius: 5px 5px 0 0;
		background-color: white;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
		pointer-events: auto;
		
	}
	.gamification {
		cursor: pointer;
		&:hover {
			color: #f1c40f;	
			.progress-bar {
				background-color: #f1c40f !important;
			}
		}
	}


	.notification {
		border-radius: 5px !important;
	}
	 .gamification-toggle {
	 	display: inline-block;
	 	font-size: 3em;
	 	color: #f1c40f;	
	 	.unread-rewards-count {
			font-size: .75rem;
    		position: absolute;
    		top: 15px;
    		right: 10px;
	 	}
	 	&:hover {
	 		color: green;
	 		cursor: pointer;
	 	}	
	 }

}

