// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.blog.show {
	#blog-post-featured-image {
		width: 100%;
	}	
	#blog-post-content {
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

body.blog.index {
	.featured-image {
		width: 100%;
	}
	.blog-navigation-container {
		background: #F1F3F5;
	}
}
