// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.comments {
	background-color: #f2f3f5;
    padding: 18px;
    .comment {
        display: flex;
        margin: 10px 10px 0px 10px;
        .user-comment-avatar 
        {
            float: left;
            img {
                width: 32px;
                height: 32px;
                border-radius:100%;
            }
        }
    }
    .nested-comments {
      margin-left: 25px;
  }
  .comment-content{
    display: inline-block;
    margin-left: 10px;
    .comment-body {
        padding: 0 15px;
        background-color: white;
        border-radius: 15px;
        display: inline-block;
        p {
            display: inline;
        }
    }
    .comment-actions {
        margin-left: 25px;
        font-size: 12px;
    }

}

    .new_comment, .edit_comment {
        width: 100%;
        margin-left: 10px;
        .tinymce {
            background: white;
            border-radius: 18px;
        }
    }
}

