// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.users.show {
	#contributions table td {
		word-break: break-all;
	}
}