// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.drafts.index {
	#edit-draft {
		button {
			background: none;
			border: none;
			&:hover {
				color: orange;
			}
		}
	}
}