// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.feed.index {
	.container {
		margin-top: 25px;
	}
}