html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.body-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  display: inline-table;
}

footer.footer {
  background: #F4F4F4;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  margin-top: 35px;
  .footer-copyright {
    font-size: .75rem;
    opacity: 0.15;
    color: black;
  }  
}
.footer-links {
  display: flex;
  align-items: center;

}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


