// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
        .gif-selection-window {
            display: none;
            flex-direction: column;
            max-width: 278px;
            max-height: 50vh;
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 0;
            border-radius: 6px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);


            .gif-search {
                input {
                    background-color: #f5f6f7;
                    border-radius: 5px;
                    border: none;
                    width: 100%;
                }
            }
            
            .gif-scroll {
                overflow: scroll;
                img {
                    cursor: pointer;
                }

                @keyframes spinner {
                    0% {
                        transform: translate3d(-50%, -50%, 0) rotate(0deg);
                    }
                    100% {
                         transform: translate3d(-50%, -50%, 0) rotate(360deg);
                    }
                }
                .spinner {
                    // The height here is just for demo purposes
                    height: 100px;
                    opacity: 1;
                    position: relative;
                    transition: opacity linear 0.1s;   
                    display: none; 
                    &::before {
                        animation: 2s linear infinite spinner;
                        border: solid 3px #eee;
                        border-bottom-color: #EF6565;
                        border-radius: 50%;
                        content: "";
                        height: 40px;
                        left: 50%;
                        opacity: inherit;
                        position: absolute;
                        top: 50%;
                        transform: translate3d(-50%, -50%, 0);
                        transform-origin: center;
                        width: 40px;
                        will-change: transform;
                    }
                }
               

            }
        }