.groups.show {
	img.cover-photo {
		object-fit: cover;
		width: 100%;
    	height: 50vh;
    	max-height: 440px;	
    	margin-bottom: 25px;	
	}	
	.follow-action {
		margin-top: 15px;
	}

	#timeline {
		margin-top: 25px;
	}
}