// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.lists.show {
	.list-group {
		.list-group-item {
			.video-game-rating .br-widget a {
				font-size: .9rem;
			}
		}
	}
	td.box-art img {
		width: 100px;
	}

}