// Place all the styles related to the MemberReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.customer-reviews{
	.member_review {
		border-top: 1px solid black;
	}
}