nav {
	font-size: .85rem;
	.nav-link.dropdown-toggle img {
		border-radius: 100%;
		width: 25px;
		height: 25px;
	}

	.navbar-brand {
		max-width: 20%;
		@include media-breakpoint-down(md) {  
			max-width: 200px;
		}	
	}
	@include media-breakpoint-down(md) {  
		.navbar-collapse {
			max-height: 80vh;     
			overflow-y: auto;
		}
	}		
}


nav.navbar {
	background-color: #f2f3f5;
}

