#masonry-container {
	/* Infinite Scroll loader */
	#infscr-loading {
	  text-align: center;
	  z-index: 100;
	  position: fixed;
	  left: 45%;
	  bottom: 40px;
	  width: 200px;
	  padding: 10px;
	  background: #000;
	  opacity: 0.8;
	  color: #FFF;
	  -webkit-border-radius: 10px;
	     -moz-border-radius: 10px;
	          border-radius: 10px;
	}
	@include media-breakpoint-up(xs) {  
		// 3 columns
		.masonry-brick { 
			width: calc(100%);
		}

		// 2 gutters
		.gutter-sizer {
			width: 0;
		}		
	}

	@include media-breakpoint-up(md) {  
		// 3 columns
		.masonry-brick { 
			width: calc(33% - 10px);
		}

		// 2 gutters
		.gutter-sizer {
			width: calc((10px * 3) / 2);
		}		
	}
	
	@include media-breakpoint-up(lg) { 
		// 4 columns
		.masonry-brick { 
			width: calc(25% - 10px);
		}

		// 3 gutters
		.gutter-sizer {
			width: calc((10px * 4) / 3);
		}		
	}
	
	
	@include media-breakpoint-up(xl) { 
		// 5 columns
		.masonry-brick { 
			width: calc(20% - 10px);
		}

		// 4 gutters
		.gutter-sizer {
			width: calc((10px * 5) / 4);
		}		
	}
}

.page-load-status {
	display: none;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}