// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.post-new-form {
	min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ECF0F1;
    display: flex;
    div.post-user-avatar
    {
        float: left;
        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
    .new_post, .edit_post {
        width: 100%;
        margin-left: 10px;

        .post-input-area .tinymce {
            min-height: 50px;
        }
        
        .post_attachments {
            width: 0.1px;   
            height: 0.1px;  
            opacity: 0;     
            overflow: hidden;   
            position: absolute;    
            z-index: -1; 
        }   
        .post-input-area {
            background: white;
        }
        .dropzone-previews{
            margin-left: 15px;
            position: relative;

            .file-row {
                max-width: 100px;
                display: inline-block;
                position: relative;
                .actions {
                    display: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;         
                    .remove-attachement {
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        z-index: 5;
                        background: none;
                        border: none;
                        color: lightgray;
                        &:hover {
                            color: white;
                        }
                    }

                }
            }
            
            .overlay:after {
                content: '\A';
                position: absolute;
                width: 100%; height:100%;
                top:0; left:0;
                background:rgba(0,0,0,0.6);
                opacity: 0;
                transition: all 1s;
                -webkit-transition: all 1s;
            }

            .file-row:hover{
                .actions {
                    display: block;
                    .overlay:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

}

div.post
{
	border-radius: 0px;
	background-color: #FFF;
	box-shadow: none;
	margin-bottom: 15px;
	border: 1px solid #ECECEC;
    margin-right: auto;
    margin-left: auto;
    
    .post-owner {
        padding: 10px;
    }

    .post-title, .post-content {
        padding: 5px;
    }

    .post-content: {
        word-break: break-all;
    }


    div.post-attachments {
        img {
            height: auto;
            width: 100%;
        }
    }
}
