// Place all the styles related to the Referrals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.referrals {
	table td {
		word-break: break-all;
	}
}