// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.shelves {
	.shelved-games-container {
		.card {
			img.box-art {
				width: 100%;
			}
			.br-widget a{
				font-size: .9rem;
				
				@include media-breakpoint-down(sm) {  
					font-size: 1.5rem;
				}					
			}
		}
	}

	button.remove-from-shelf {
		border: none;
		background: none;
		&:hover {
			color: orange;
			cursor: pointer;
		}
	}


	.add-shelf-form {
		margin-top: 15px;
	}


	.list-group-item.active a {
		color: white;
	}
}