// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.topics.show {
	#topic-text {
		font-size: 1.25rem;
	}

	.pagination {
		margin-top: 20px;
	}

	#submit-comment {
		margin: 10px 0;
	}
}

body.topics.index {
	.discussion {
		background-color: white;
		border: lightgray 1px solid;
		margin-bottom: 25px;
		padding: 10px;
		.discussion-image {
			text-align: center;
		}
	}
}

body.topics {
	.container {
		margin-top: 25px;
	}
}