// Place all the styles related to the TopicComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.topics.show {
	.avatar {
		margin-right: 15px;
	}
	
	.topic-comment {
		margin-bottom: 15px;
	}
}