// Place all the styles related to the Twitch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.twitch-feed {
	#myCarousel {
		.carousel-control {
			pointer-events: none;
			span.glyphicon {
				pointer-events: auto;
			}
		}
		div.item.twitch-stream-placeholder img {
			cursor: pointer;
		}
	}
}