// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.users.show {	

	.user-avatar-container {
		position: relative;
	}

	#update-banner-actions {
		position: absolute;
		top: 10px;
		left: 10px;
		opacity: 0;
    	transition: opacity .5s ease-out;
    	-moz-transition: opacity .5s ease-out;
    	-webkit-transition: opacity .5s ease-out;
    	-o-transition: opacity .5s ease-out;		
	}

	.cover-photo:hover {
		#update-banner-actions {
			opacity: 1;
		}
	}

	.user-avatar-container:hover {
		#update-avatar-actions {
			opacity: 1;
		}
	}

	#update-avatar-actions {
	    left: 10px;
	    position: absolute;
	    bottom: 10px;
	    right: 10px;
	    opacity: 0;
    	transition: opacity .5s ease-out;
    	-moz-transition: opacity .5s ease-out;
    	-webkit-transition: opacity .5s ease-out;
    	-o-transition: opacity .5s ease-out;	    
	}

	.user-avatar {
    	margin-top: -8em;
		border-radius: 2px;
		
		img{
    		border: 5px solid white;			
    		background-color: white;
			width: 100%;
			height: auto;
		}
	} 

	.user-info {
		// top: -150px;
		#username-form-edit {
			display: none;
		}
	}


	.col-lg-3 {
		.card .card-body {
			padding: .5rem;
			.follow-action {
				margin-top: 15px;
			}
			.friend-action {
				.dropdown-menu {
					min-width: 100%;
				}
			}
		}
	}	
	.cover-photo {
		position: relative;
	}

	.cover-photo img {
		object-fit: cover;
		width: 100%;
    	height: 50vh;
    	max-height: 440px;		
	}
	.stats {
		h4 {
			font-size: .75rem;
			line-height: .75rem;
			margin-bottom: 0;
		}
		span {
			font-size: .5rem;
			line-height: .5rem;
		}
		i.fa {
			font-size: 24px;
		}

		.fa.fa-compass, .fa.fa-calendar, .fa.fa-database {
			color: #2bbbe4;
		}
		.fa.fa-star, .fa.fa-gamepad, .fa.fa-table {
			color: #f1c40f;
		}
		.fa.fa-pencil-square-o, .fa.fa-check, .fa.fa-hand-spock-o {
			color: #2ECC71;
		}
		
	}

	.body-content .container .nav {
		margin: 10px 0;
	}

	.tab-content {
		margin-top: 25px;
	}

	#contribution-breakdown {
		.col-lg-4 {
			border-bottom: lightgrey solid 1px;
		}
	}

	#contributions {
		table {
			table-layout: fixed;
			thead {
				font-size: .75em;
			}
			tbody {
				font-size: .75em;
			}
		}
	}

	.custom-shelves-list {
		margin-top: 15px;
	}

}

.user-avatar-index-thumb {
	width: 100px;
	height: 100px;
}


body.users.index, body.users.leaderboard, body.friendships {
	.list-group .list-group-item h5 {
		word-break: break-all;
	}
}
