// Place all the styles related to the videogames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.video_games.index {
	#video-games-filter	 {
		cursor: pointer;
	}

	.back-to-top {
    	cursor: pointer;
    	position: fixed;
    	bottom: 20px;
    	right: 20px;
    	display:none;
		
		@include media-breakpoint-down(md) {  
			right: 80px;
		}    	
	}
}

.games-index {
	.masonry { /* Masonry container */
		.masonry-brick { /* Masonry bricks or child elements */
    		border: 1px solid rgba(0,0,0,.125);
    		border-radius: .25rem;

	  		&:hover{
				box-shadow: 0 0 15px #4CAF50; 			
	  		}
    		a:hover	{
    			text-decoration: none;
    		}
    		.card-body {
    			color: black;
    			padding: 10px;
    			.release-date {
    				float: left;
    			}
    			.rating {
    				float: right;
    			}
    			.card-title {
    				margin: 0;
    			}
    		}			
		}
	}	
}

body.video_games.show, body.drafts.show  {
	.video-game-main {
		margin-top: 15px;

		#header-game-details {
			border-right: 1px solid #ECECEC;
		}

		.game-details label {
			font-weight: bold;
			font-size: 13px;
		}
		.game-details a, .game-details span{
			font-size: 13px;
		}

		.video-game-rating {
			margin: 5px 0;
		}
		
		.favorite-action {
			margin-top: 15px;
		}

		.follow-action {
			text-align: center;
			margin-top: 15px;
		}
		.shelf-actions {
			text-align: center;
			.col button {
				border: none;
				background: none;
				text-decoration: none;
				color: black;
				cursor: pointer;
				&.remove {
					i {
						color: gold;
					}
					i:hover {
						color: red;
					}
				}
				i {
					font-size: 3em;
					&:hover {
						color: green;
					}
				}
			}
		}
		.game-links {
			a {
				text-decoration: none;
				color: black;
				&:hover{
					color: orange;
				} 
			}
		}

		.member-ratings {
			text-align: center;
			position: relative;
			.rating-percent {
				position: absolute;
				top: 0;
				line-height: 131px;
				font-size: 1.5rem;
				width: 100%;
				text-align: center;
			}
		}
	}
	#game-media {
		background-color: #1b2224;
		padding: 15px 0 38px 45px;
		margin: 20px 0;
		.game-media-item {
			margin-right: 15px;
		}
		ol.flickity-page-dots {
			right: 0;
		}


		// .slick-arrow {
		// 	position: absolute;
		// 	display: flex;
  // 			justify-content: center;
  // 			align-items: center; 
		// 	font-size: 5em;
		// 	height: 100%;
		// 	top: 0;
		// 	color: white;
		// 	z-index: 1;
			
		// 	&:hover {
		// 		cursor: pointer;
		// 	}
		// }

		// .previous-arrow {
		// 	left: 5px;
		// }

		// .next-arrow {
		// 	right: 5px;
		// }

		// /* the slides */
		//   .slick-slide {
		//     margin: 0 27px;
		//   }
		//   /* the parent */
		//   .slick-list {
		//     margin: 0 -27px;
		//   }
	}
	.new-customer-review {
		margin: 10px 0;
		input[type='submit'] {
			margin-top: 10px;
		}
	}

	.video-game-banner {
		object-fit: cover;
		height: 50vh;
		width: 100%;
	}

	.box-art {
		&.banner-exists {
			margin-top: -8em;	
		}
		padding: 0;
		width: 100%;
		border-radius: 2px;
		border: 5px solid white;			
    	background-color: white;		
	}
}

body.video_games.edit, body.video_games.new {
	.box-art {
		width: 100%;
	}

	#video_game_parent_video_game_ids, #video_game_child_video_game_ids{
		width: 100%
	}


	#video_game_parent_video_game_ids ~ span.select2, #video_game_child_video_game_ids ~ span.select2{
		// display: none;
	}
	
	div#screenshots {
		img {
			width: 100%;
		}
	}
	div#videos {
		img {
			width: 100%;
		}
	}
}


.video-games-carousel {
		overflow: hidden;
		.card {
			margin-right: 10px;
			padding-left: 0px;
			padding-right: 0px;
			.caption {
				padding: 5px;
			}
		}
		.slick-arrow {
			position: absolute;
			display: flex;
  			justify-content: center;
  			align-items: center; 			
			font-size: 5em;
			height: 100%;
			top: 0;
			position: absolute;
			color: white;
			z-index: 1;
			
			&:hover {
				cursor: pointer;
			}
		}

		.previous-arrow {
			left: 5px;
		}

		.next-arrow {
			right: 5px;
		}
		
		.slick-slide {
    		margin: 0 10px;
    		color: black;
		}
		
		/* the parent */
		.slick-list {
    		margin: 0 -10px;

    		.card {
    			.caption {
    				padding-left: 5px;
    			}
    			&:hover {
    				box-shadow: 0 0 15px #4CAF50; 			
    			}
    		}
		}		
		
}


body.video_games.explore {
	.sign-up {
		width: 100%;
		background-image: image-url('signup-splash.jpg'); 
		background-size: cover;
		.col-lg-6 {
			padding: 0;
		}
	}
	.explainer i.fa {
		font-size: 2rem;
	}

	.explainer .discover .fa {
		color: #2ECC71;	
	}
	
	.explainer .connect .fa {
		color: #2bbbe4;	
	}

	.explainer .compete .fa {
		color: #f1c40f;		
	}

	.recently-reviewed, .videos{
		margin-top: 25px;
	}
	.video-game-screenshot {
		span.game-name {
			color: white;
			position: absolute;
			bottom: 10px;
			left: 30px;
		}
  		img:hover{
			box-shadow: 0 0 15px #4CAF50; 			
  		}		
	}
	.col-lg-4 {
		margin-bottom: 15px;
	}

	.aspect-ratio {
  		position: relative;
  		width: 100%;
  		height: 0;
		padding-bottom: 56%; /* The height of the item will now be 56% of the width. */
	}

	/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
	.aspect-ratio iframe {
  		position: absolute;
  		width: 100%;
  		height: 100%;
  		left: 0;
  		top: 0;
	}
}
