<% flash.each do |type, msg| %>
  <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
  	<% if msg.respond_to?(:each) %>
   		<% msg.each do |message| %>
   			<%= message %>
   		<% end %>
   	<% else %>
		<%= msg %>
   	<% end %>
    <button class="close" data-dismiss="alert">x</button>
  </div>
<% end %>