<footer class="footer">
  <div class="footer-links mt-3">
    <%= link_to "https://trello.com/b/MI9SCdjl/gamers-paradise", target: :_blank do %>    
      <span>Make Suggestions: Trello</span>
      <%= fa_icon "trello" %>     
    <% end %>
    <%= link_to "About Us", about_us_path, class: "small" %>  	
    <%= link_to "Privacy", privacy_path, class: "small" %>
  </div>
    <span class="footer-copyright">
      © 2018 Gamer's Paradise ALL RIGHTS RESERVED
    </span>  
</footer>

