<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag  asset_path('logo.png'), class: "img-fluid" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  

  <div id="navbarSupportedContent" class="navbar-collapse collapse">
   <ul class="navbar-nav mr-3">
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Referrals", referrals_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "My Library", user_shelves_path(current_user), class: "nav-link" %></li>
    <% end %>
    <li class="nav-item"><%= link_to "Video Games", video_games_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Lists", lists_path, class: "nav-link" %></li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
      <div class="dropdown-menu">
        <%= link_to "Leaderboard", leaderboard_path, class: "dropdown-item" %>
        <%= link_to "Gamers", users_path, class: "dropdown-item" %>
        <%= link_to "Pages", pages_path, class: "dropdown-item" %>    
        <%= link_to "Groups", groups_path, class: "dropdown-item" %>
        <%= link_to "Discussions", topics_path, class: "dropdown-item" %>
      </div>
    </li>

    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extra Info<span class="caret"></span></a>
        <div class="dropdown-menu">
          <%= link_to "Companies", companies_path, class: "dropdown-item" %>
          <%= link_to "Engines", game_engines_path, class: "dropdown-item" %>
          <%= link_to "Franchises", franchises_path, class: "dropdown-item" %>
          <%= link_to "Game Modes", game_modes_path, class: "dropdown-item" %>            
          <%= link_to "Genres", genres_path, class: "dropdown-item" %>                        
          <%= link_to "Platforms", platforms_path, class: "dropdown-item" %>
          <%= link_to "Player Perspectives", player_perspectives_path, class: "dropdown-item" %>    
          <%= link_to "Series", series_index_path, class: "dropdown-item" %>            
        </div>
      </li>       
  </ul>

  <%= form_tag(search_path, method: :get, class: "form-inline my-2 my-lg-0"  )do %>
      <%= text_field_tag :q, nil, placeholder: "Search Video Games", class: "form-control mr-sm-2" %> 
  <% end %>     

  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
          
      <%= render partial: "notifications/navbar" %>        

      <% if current_user.has_role? :arbiter %>
        <li class="nav-item"><%= link_to drafts_path, class: "nav-link" do %> Pending Edits <% end %></li>
      <% end %>
      
      <li class="nav-item"><%= link_to friendships_path, class: "nav-link" do %> <%= fa_icon "users" %> <% end %></li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar, class: "img-fluid", size: "25" %><span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to current_user.username, current_user, class: "dropdown-item" %>
          <% if current_user.has_role? :admin %>
            <%= link_to "ADMIN", admin_root_path, class: "dropdown-item" %>
          <% end %>
          
          <%= link_to "Scorecard", scorecard_path, class: "dropdown-item" %>    
          <%= link_to "My Feed", feed_path, class: "dropdown-item" %>                
          <%= link_to "Settings", edit_user_registration_path(current_user), class: "dropdown-item" %>
          <%= link_to "https://trello.com/b/MI9SCdjl/gamers-paradise", target: :_blank, class: "dropdown-item" do %>    
            <span>Trello</span>
            <%= fa_icon "trello" %>     
          <% end %>          
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %></li>
      <li><%= link_to "Log In", new_user_session_path, class: "nav-link"  %></li>
    <% end %>     
  </ul>

</div><!--/.nav-collapse -->
</nav>
