<div class="sidebar-sticky">
	<nav class="nav flex-column">
		<%= link_to "Dashboard", admin_root_path, class: "nav-link" %>
		<%= link_to "Blog Management", admin_blog_posts_path, class: "nav-link"%>
		<%= link_to "Blog Category Management", admin_blog_categories_path, class: "nav-link" %>
		<%= link_to "Users", admin_users_path, class: "nav-link" %>
	</nav>  
</div>