<!DOCTYPE html>
<html>
<head>
  <title>Gamer's Paradise</title>
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="description" content="Discover your next favorite game">
  <meta name="keywords" content="Video Games,Disover,Connect,Compete">  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  <% unless defined? @hide_ads %>
    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3572098314664106",
        enable_page_level_ads: true
      });
    </script>
    <!-- End Google Adsense -->
  <% end %>
  

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126057353-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126057353-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <!-- Hotjar Tracking Code for www.gamersparadise.io -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1023781,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>  
  <!-- End Hotjar Tracking Code for www.gamersparadise.io -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '527142797709813');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=527142797709813&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <% if user_signed_in? %>
    <%= tag :meta, name: "current-user", data: {id: current_user.id} %>
  <% end %>

</head>
<body class="<%= params[:controller].gsub('/','-') %> <%= params[:action]%>">
	<div class="body-content">
		  <%= render "layouts/navbar" %>
      <div id="flash-messages-container">
		    <%= render partial: "layouts/flash_messages", flash: flash %> 
      </div>
		  <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <%= render partial: "admin/layouts/side_navbar" %>
          </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-3">
            <%= yield %>  
          </main>          
        </div>
      </div>
      

	</div>
  <% if user_signed_in? %>
    <div id="points-floater-container">
      <div id="reward-notifications-sidebar">
        <div id="sidebar-content"  class="px-1">
          <div class="close-sidebar"><%= fa_icon "times" %></div>
          <h2 >Rewards Center</h2>
          <div class="gamification clearfix mb-3">
            <%= render partial: "rewards/progress" %>
          </div>         
          <%= link_to "Mark All As Read", rewards_mark_all_as_seen_path, method: :post, class: "btn btn-block btn-secondary mb-3" %>
          <div class="notifications-container">
            <% @award_notices.each do |reward| %>   
              <%= render partial: "rewards/notification", locals: {reward: reward} %>
            <% end %>        
          </div>                  
        </div>
      </div>

      <div class="gamification-toggle pull-right bounce infinite <%= "animated" if current_user.user_rewards.where(seen_at: nil).count > 0%>">
        <%= fa_icon "trophy" %><span class="unread-rewards-count badge badge-success"><%= current_user.user_rewards.where(seen_at: nil).length %></span>
      </div>
    </div>
  <% end %>
  <%= render "layouts/footer" %>
  <script src="https://my.hellobar.com/88211f4192e783ba0c3f0548d58a87876e42a2e0.js" type="text/javascript" charset="utf-8" async="async"></script>  
</body>
</html>
