<div class="games-index">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix masonry">
		<div class="gutter-sizer"></div>
		<%= render video_games %>
  	</div>
</div>

<nav id="page-nav">
	<%= link_to_next_page(video_games, 'Next Page', :remote => true) %>
</nav>

<div class="page-load-status text-center" id="video-games-load-status">
	<div class="loader-ellips">
		<span class="loader-ellips__dot"></span>
		<span class="loader-ellips__dot"></span>
		<span class="loader-ellips__dot"></span>
		<span class="loader-ellips__dot"></span>
	</div>
	<span class="infinite-scroll-request">
		Loading...  		
	</span>	
	<span class="infinite-scroll-last">
		No more pages to load.
	</span>		
</div>