<tr>
  	<td><%= user.email %></td>
  	<td><%= user.username %></td>
  	<td><%= user.birthday %></td>  	
  	<td><%= user.points %></td>  	
  	<td><%= user.referrals.count %></td>  	
  	<td><%= user.sign_in_count %></td>
  	<td><%= user.last_sign_in_at %></td>
  	<td><%= user.created_at %></td>
</tr>