<div class="container">
  <%= paginate @users %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">E-mail</th>
        <th scope="col">Username</th>
        <th scope="col">Birthday</th>
        <th scope="col">Points</th>      
        <th scope="col">Referrals</th>
        <th scope="col">Sign In Count</th>
        <th scope="col">Last Sign In</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
  	<%= render @users %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>