<% if user_signed_in? %>
	<% if current_user.likes.find_by(likeable_id: likeable.id, likeable_type: likeable.class.name) %>
  		<%= button_to unvote_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), :form => { :id => "#{likeable.class.name}-#{likeable.id}" }, class: "btn voted btn-block btn-secondary", method: :delete, remote: true  do %>
  			<%= fa_icon "check" %> Remove Vote
  		<% end %>
	<% else %>
  		<%= button_to upvote_thing_path(likeable_id: likeable.id, likeable_type: likeable.class.name), :form => { :id => "#{likeable.class.name}-#{likeable.id}" }, class: "btn btn-success unvote btn-block", remote: true  do %>
  			<%= fa_icon "arrow-up" %>  Upvote
  		<% end %>
	<% end %>	
<% end %>