var container = $("#<%= "#{@likeable.class.name}-#{@likeable.id}" %>");
var newButton = "<%=  j render partial: "votes/button", locals: {likeable: @likeable} %>";
var votesCount = container.parents(".card").find('.votes-count');


container.replaceWith(newButton);
votesCount.html(<%= @likeable.likes.count %>);
