<li class="list-group-item d-flex justify-content-between align-items-center">
	<%= link_to edit_admin_blog_post_path(blog_post) do %>
		<%= blog_post.title %> on <%= blog_post.blog_category.name %>
	<% end %>

</li>