<%= form_for [:admin, @blog_post] do |f| %>
	
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	
	<div class="form-gropu">
		<%= f.label :author_id %>
		<%= f.collection_select :author_id, User.with_role(:admin), :id, :username,  include_blank: true, class: "form-control" %>
	</div>

	<div class="form-group">	
		<%= f.label :blog_category_id %>
		<%= f.collection_select :blog_category_id, BlogCategory.all, :id, :name,  include_blank: true, class: "form-control" %>
	</div>	

	<div class="form-group">	
		<%= f.label :meta_description %>
		<%= f.text_area :meta_description, class: "form-control" %>
	</div>	

	<div class="form-group">	
		<%= f.label :meta_keywords %>
		<%= f.text_area :meta_keywords, class: "form-control", placeholder: "Separate each keyword with a comma." %>	
	</div>	

	<%= image_tag @blog_post.featured_image, class: "img-fluid" %>
	<div class="form-group">
		<%= f.label :featured_image %>
		<%= f.file_field :featured_image, class: "form-control" %>
	</div>

	<div class="form-group">	
		<%= f.label :content %>
		<%= f.text_area :content, class: "tinymce", rows: 100 %>
	</div>

	<%= f.submit "Save Post", class: "btn btn-primary" %>
<% end %>

<%= tinymce plugins: ['print', 'preview', 'fullpage', 'searchreplace', 'autolink', 'directionality', 'visualblocks', 'visualchars', 'fullscreen', 'image', 'uploadimage', 'link', 'media', 'template', 'codesample', 'table', 'charmap', 'hr', 'pagebreak', 'nonbreaking', 'anchor', 'toc','insertdatetime', 'advlist', 'lists', 'textcolor', 'wordcount', 'imagetools', 'contextmenu', 'colorpicker', 'textpattern', 'help'] %>
