<%= form_for @series do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: "form-control" %>
	</div>	

	<%= f.submit "Add Series", class: "btn btn-primary" %>
<% end %>