<div class="container mt-5">
	<h1>Video Game Series</h1>

	<%= link_to "New Series", new_series_path, class: "btn btn-success mb-3" %>
	
	<table class="table">
  		<thead>
    		<tr>
      			<th scope="col">Name</th>
    		</tr>
  		</thead>
  		<tbody>
  			<%= render @series %>
  		</tbody>
	</table>	
</div>