<%= form_for [@topic, TopicComment.new] do |f| %>
	<%= f.text_area :comment, class: "tinymce" %> 
	<%= tinymce %>
	
	<%= f.submit "Submit", class: "float-right btn btn-primary", id: "submit-comment" %>
<% end %>