<div class="card topic-comment">
	<div class="card-header">
		<%= link_to topic_comment.user.username, topic_comment.user %> 
		<span class="float-right"><%= topic_comment.created_at.strftime("%B %d, %Y %I:%M%p") %></span>
	</div>
	<div class="card-body">
		<% if user_signed_in? &&  current_user == topic_comment.user %>
			<div class="pull-right admin-actions">
				<div class="btn-group">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= fa_icon "ellipsis-h" %>
				</button>
				<div class="dropdown-menu">
					<%= link_to "Edit", edit_topic_comment_path(topic_comment), class: "dropdown-item" %>
				</div>
				</div>			
			</div>	
		<% end %>				
		<div class="avatar float-left">
			<%= image_tag topic_comment.user.avatar, size: "50" %>
		</div>
		<div class="comment-text">
			<%= raw topic_comment.comment %>
		</div>
	</div>
	<div class="topic-comments">
		<%= render "comments/comments", comments: topic_comment.comments.order(created_at: :desc), commentable: topic_comment %>
	</div>

</div>