<div class="container mt-5">
	<%= form_for @topic_comment do |f| %>
		<%= f.text_area :comment, class: "tinymce" %> 
		<%= tinymce %>
	
		<%= f.submit "Submit", class: "float-right btn btn-primary", id: "submit-comment" %>
	<% end %>
</div>