<%= form_for [@list,@list_video_game] do |f| %>
	<div class="form-group">
		<div class="form-group">
			<%= f.label :video_game_id, "Add Game To List" %>
			<%= f.collection_select :video_game_id, VideoGame.none, :id, :name, {}, {class: "form-control"} %>			
  		</div>
		<%= f.submit "Add Game", class: "btn btn-success" %>
	</div>
<% end %>