<tr> 
	<!-- Potentially New Game So No Original ID -->
	<td><%= draft.original.id if draft.original %></td>
	<td><%= draft.type_of %></td>
	<td><span class="bg-<%= draft.type_of.downcase %>"></span> <%= draft.modified.name if draft.modified %></td> 
	<td><%= draft.modified_type %></td>
	<td><%= draft.count %></td>
	<td><%= time_ago_in_words(draft.updated_at) %> ago</td> 
	<td>
		<div id="edit-draft" class="btn-group"> 
			<%= button_to draft_path(draft), class: 'btn btn-small', form_class: 'pull-left', method: :get do %>
				<%= fa_icon "pencil" %>			
			<% end %>
		</div>
	</td>
</tr> 