<div class="container">
	<div class="bs-example" data-example-id="striped-table"> 
		<table class="table table-striped"> 
			<thead> 
				<tr> 
					<th>ID</th> 
					<th>Action</th> 				
					<th>Name</th> 
					<th>Type</th> 
					<th># of Drafts</th> 
					<th>Last Updated</th> 
					<th>Actions</th> 
				</tr> 
			</thead> 
			<tbody> 
				<%= render @drafts %>
			</tbody> 
		</table> 
	</div>
</div>