<div class="container">
	<div class="row">
		Draft Submitted By: <%= link_to @draft.user.username, @draft.user %>
	</div>
	<% if @original %>
		<div class="row">
			<div class="col-lg-6">
				<%= render "#{@original.class.name.pluralize.underscore}/draft", object: @original %>
			</div>
			<div class="col-lg-6">
				<%= render "#{@modified.class.name.pluralize.underscore}/draft", object: @modified %>
			</div>	
		</div>
	<% else %>
		<div class="col-lg-12">
			<%= render "#{@modified.class.name.pluralize.underscore}/draft", object: @modified %>
		</div>		
	<% end %>

	<%= button_to "Accept", accept_draft_path, class: "btn btn-success" %>
	<%= button_to "Deny", deny_draft_path, class: "btn btn-danger" %> 
</div>