<footer class="footer">
  <div class="footer-links mt-3">
    <%= link_to "Blog", blog_index_path, class: "small" %>
    <%= link_to "https://trello.com/b/MI9SCdjl/gamers-paradise", target: :_blank do %>    
      <span>Make Suggestions: Trello</span>
      <%= fa_icon "trello" %>     
    <% end %>
    <%= link_to "About Us", about_us_path, class: "small" %>  	
    <%= link_to "Privacy", privacy_path, class: "small" %>
    <%= link_to "https://twitter.com/GParadiseio", target: :_blank do %>
      <%= fa_icon "twitter" %>
    <% end %>
    <%= link_to "https://www.facebook.com/gamersparadiseio", target: :_blank do %>
      <%= fa_icon "facebook" %>
    <% end %>
    <%= link_to "https://medium.com/gamers-paradise", target: :_blank do %>
      <%= fa_icon "medium" %>
    <% end %>
    <%= link_to "https://www.instagram.com/gamersparadiseio/", target: :_blank do %>
      <%= fa_icon "instagram" %>
    <% end %>        
  </div>
    <span class="footer-copyright">
      © 2018 Gamer's Paradise ALL RIGHTS RESERVED
    </span>  
</footer>

