<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K46BPMV');</script>
  <!-- End Google Tag Manager -->  
  <%= display_meta_tags site: 'Gamer\'s Paradise' %>
  <%= csrf_meta_tags %>
  <meta name="msvalidate.01" content="905EF93B6E75B0DF1A7C54D3BDEF1B39" />
  <meta name="turbolinks-cache-control">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <%= favicon_link_tag asset_path('Gamers-Paradise-Favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  <% unless defined? @hide_ads %>
    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3572098314664106",
        enable_page_level_ads: true
      });
    </script>
    <!-- End Google Adsense -->
  <% end %>
  

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126057353-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126057353-1');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <!-- Hotjar Tracking Code for www.gamersparadise.io -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1023781,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>  
  <!-- End Hotjar Tracking Code for www.gamersparadise.io -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '527142797709813');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=527142797709813&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <% if user_signed_in? %>
    <%= tag :meta, name: "current-user", data: {id: current_user.id} %>
  <% end %>

  <%= canonical_tag -%>
</head>
<body class="<%= params[:controller].gsub('/','-') %> <%= params[:action]%>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K46BPMV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->  
	<div class="body-content">
		  <%= render "layouts/navbar" %>
      <div id="flash-messages-container">
		    <%= render partial: "layouts/flash_messages", flash: flash %> 
      </div>

		  <%= yield %>
	</div>
  <% if user_signed_in? %>
    <div id="points-floater-container">
      <div id="reward-notifications-sidebar">
        <div id="sidebar-content"  class="px-1">
          <div class="close-sidebar"><%= fa_icon "times" %></div>
          <h2 >Rewards Center</h2>
          <div class="gamification clearfix mb-3">
            <%= render partial: "rewards/progress" %>
          </div>         
          <%= link_to "Mark All As Read", rewards_mark_all_as_seen_path, method: :post, class: "btn btn-block btn-secondary mb-3" %>
          <div class="notifications-container">
            <% @award_notices.each do |reward| %>   
              <%= render partial: "rewards/notification", locals: {reward: reward} %>
            <% end %>        
          </div>                  
        </div>
      </div>

      <div class="gamification-toggle pull-right bounce <%= "animated" if current_user.user_rewards.where(seen_at: nil).count > 0%>">
        <%= fa_icon "trophy" %><span class="unread-rewards-count badge badge-success"><%= current_user.user_rewards.where(seen_at: nil).length %></span>
      </div>
    </div>
  <% else %>
    <div class="modal fade" id="user-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="sign-up">
              <%= render "users/registration" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "layouts/footer" %>
  <script src="https://my.hellobar.com/88211f4192e783ba0c3f0548d58a87876e42a2e0.js" type="text/javascript" charset="utf-8" async="async"></script>  
</body>
</html>
